<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 8pt;
				text-transform: uppercase;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}

			#thetable tr:nth-child(odd) {
				background-color: #EEEEEE;
			}

			.strike td {
				text-decoration: line-through;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>

		<div style="width:850px;margin: 0 auto;">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="vertical-align:top;width:772px;">
						<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">{{data.city}} Adjudicated Awards</div>
						<div style="font-family:Unplug;font-size:12pt;">{{capitalizeFirstLetter data.compgroup}} Competition</div>
					</td>
					<td style="vertical-align:top;text-align:right;padding-top:25px;"><div style="font-family:Unplug;font-size:12pt;">{{data.dispdate}}</div></td>
				</tr>
			</table>

			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:30px;" id="thetable">
				<tr>
					<td class="thead" style="width:37px;">#</td><td class="thead" style="width:195px;">Studio</td><td class="thead" style="width:205px;">Routine Name</td><td class="thead" style="width:145px;">Award</td><td class="thead" style="width:80px;">Age Division</td><td class="thead" style="width:90px;">Category</td><td class="thead" style="width:90px;border-right:1px solid #000000;">Perf. Division</td>
				</tr>
				{{#ifCond routines.length '>' 0}}
					{{#each routines}}
						<tr {{#if canceled}} class='strike'{{/if}}>
							<td class="tbody" style="text-align:center;{{#ifCond total_score '>' 0}}color:#AAAAAA;{{/ifCond}}">{{#ifCond has_a '==' true}}{{dispnumber}}.a{{/ifCond}}{{#unless has_a}}{{dispnumber}}{{/unless}}</td>
 							<td class="tbody" style="{{#ifCond total_score '>' 0}}color:#AAAAAA;{{/ifCond}}">{{studio.name}}</td>
							<td class="tbody" style="{{#ifCond total_score '>' 0}}color:#AAAAAA;{{/ifCond}}">{{routine.name}} ({{dancers.dancer.person.fname}} {{dancers.dancer.person.lname}}) </td>
							<td class="tbody" style="color:#FF0000;">{{#boolean showscores }}{{awardname}} ({{total_score}}){{/boolean}}{{#boolean showscores }}{{awardname}}{{/boolean}} </td>
							<td class="tbody" style="{{#ifCond total_score '>' 0}}color:#AAAAAA;{{/ifCond}}">{{age_division.name}}</td>
							<td class="tbody" style="{{#ifCond total_score '>' 0}}color:#AAAAAA;{{/ifCond}}">{{routine_category.category.name}}</td>
							<td class="tbody" style="border-right:1px solid #000000;{{#ifCond total_score '>' 0}}color:#AAAAAA;{{/ifCond}}">{{performance_division.name}}</td>
						</tr>
					{{/each}}
				{{/ifCond}}
			</table>
		</div>
	</body>
</html>