<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Audition Class</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
				font-size: 12px;
				font-family: Tahoma, Arial, sans-serif;
			}
			.dtable thead tr th {
				background-color: #000000;
				color: #FFFFFF;
				font-family: 'Trajan Pro';
				padding: 6px 0 2px;
				text-align: center;
				font-size: 15px;
				font-weight: normal;
			}
			.dtable tbody tr td {
				border-left: 1px solid #CCCCCC;
				border-bottom: 1px solid #CCCCCC;
				padding: 8px 0;
			}
		</style>
	</head>
	<body>
		{{#each auditionClassData.data as |genders adname|}}
			{{#each genders as |dancers gender|}}
				<div style="width:720px;page-break-after:always;">
					<table cellpadding="0" cellspacing="0" style="width:100%;">
						<tr>
							<td style="vertical-align: top;">
							{{#ifCond ../../data.eventid '==' 14}}
									<img src="tda_logo.jpg" alt="" style="height:100px;width:auto;" />
							{{/ifCond}}
							{{#ifCond ../../data.eventid '==' 18}}
									<img src="../../24seven_logo.png" alt="" style="height:100px;width:auto;" />
							{{/ifCond}}
							</td>
							<td style="text-align:right;">
								<div style="text-align:right;">
									<table style="float:right;">
										<tr><td style="padding-right:10px;">{{#ifCond ../../data.eventid '==' 14}}Judge's Pick{{/ifCond}} {{#ifCond ../../data.eventid '==' 18}}Stop the Clock{{/ifCond}}</td><td>97-100</td></tr>
										<tr><td style="padding-right:10px;">High Gold</td><td>92-96</td></tr>
										<tr><td style="padding-right:10px;">Gold</td><td>87-91</td></tr>
										<tr><td style="padding-right:10px;">High Silver</td><td>82-86</td></tr>
										<tr><td style="padding-right:10px;">Silver</td><td>77-81</td></tr>
									</table>
								</div>
								<div style="clear:both;"></div>
								<div style="font-family:'Trajan Pro';font-size:25px;">{{age_division}} {{gender_name}} {{#ifCond ../../data.eventid '==' 14}}BEST DANCERS  {{else}} NON-STOP DANCERS{{/ifCond}}</div>
								<div style="font-family:'Trajan Pro';font-size:20px;">AUDITION CLASS</div>
							</td>
						</tr>
					</table>
					<table cellpadding="0" cellspacing="0" style="width:100%;margin-top:15px;" class="dtable">
						<thead>
							<tr>
								<th style="width: 55px;">AUD.#</th><th style="width:55px;">SPOT</th><th style="width:130px;">DANCER</th><th style="width:235px;">STUDIO</th><th style="width:115px;">BALLET SCORE</th><th>JAZZ<br/>SCORE</th>
							</tr>
						</thead>
						<tbody>
							{{#each dancers as |dancer|}}
								{{#each dancer as |item|}}
								<tr>
									<td style="text-align:center;{{#ifCond item.dancer.ac_group '==' 2}}background-color:#DDDDDD;{{/ifCond}}">{{item.dancer.scholarship_code}}</td>
									<td style="text-align:center;{{#ifCond item.dancer.ac_group '==' 2}}background-color:#DDDDDD;{{/ifCond}}">{{item.dancer.ac_spot}}</td>
									<td style="padding-left:3px;{{#ifCond item.dancer.ac_group '==' 2}}background-color:#DDDDDD;{{/ifCond}}">{{item.dancer.person.fname}} {{item.dancer.person.lname}}</td>
									<td style="padding-left:3px;{{#ifCond item.dancer.ac_group '==' 2}}background-color:#DDDDDD;{{/ifCond}}">{{item.dancer.studio_name}}</td>
									<td style="padding-left:3px;{{#ifCond item.dancer.ac_group '==' 2}}background-color:#DDDDDD;{{/ifCond}}">&nbsp;</td>
									<td style="border-right: 1px solid #CCCCCC;{{#ifCond item.dancer.ac_group '==' 2}}background-color:#DDDDDD;{{/ifCond}}">&nbsp;</td>
								</tr>
								{{/each}}
							{{/each}}
						</tbody>
					</table>
				</div>
			{{/each}}
		{{/each}}
	</body>
</html>