<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 7.9pt;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:850px;margin: 0 auto;">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="vertical-align:top;width:772px;">
						<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">{{data.city}} Best of JUMP</div>
						<div style="font-family:Unplug;font-size:12pt;">{{capitalizeFirstLetter data.compgroup}} Competition</div>
					</td>
					<td style="vertical-align:top;text-align:right;padding-top:25px;"><div style="font-family:Unplug;font-size:12pt;">{{data.start_date}}</div></td>
				</tr>
			</table>
			{{#if data_routines}}
				{{#each data_routines as |adname routines|}}
					{{#if adname}}
						<div style="margin:10px 0 3px;font-family:Unplug;font-size:16pt;font-style:italic;color:#3366FF;">
								{{adname.age_division.name}} ({{adname.age_division.range}}) : Groups
							</div>
							<table cellpadding="0" cellspacing="0" class="rtable" style="margin:0px 0 20px;page-break-after:always;">
								<tr>
									<td class="thead" style="width:165px;">Award</td>
									<td class="thead" style="width:225px;">Studio</td>
									<td class="thead" style="width:230px;">Routine</td>
									<td class="thead" style="width:115px;">Category</td>
									<td class="thead" style="width:100px;border-right:1px solid #000000;">Perf. Div.</td>
								</tr>
								{{#each adname.routine}}
									<tr>
									<td class="tbody" style="text-align:left;">{{awardname}} ({{total_score}} : {{dropped_score}})</td>
									<td class="tbody">{{studio.name}}</td>
									<td class="tbody">{{routine_name}}</td>
									<td class="tbody">{{routine_category.category.name}}</td>
									<td class="tbody" style="border-right:1px solid #000000;">{{performance_division.name}}</td>
								</tr>
								{{/each}}
							</table>
					{{/if}}
				{{/each}}
			{{/if}}
		</div>
	</body>
</html>