<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td {
				font-size: 12px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				font-wize:12px;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 5px 0px 5px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}

            tr.not-competing td {
                background-color: #FDD;
            }
            
            tr.competing td {
                background-color: #FFF;
            }
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:705px;">
			<div style="font-family:Georgia;font-size:20px;">{{city}} Best Dancer List</div>
			<span style="font-family:Georgia;font-size:14px;">{{disp_date}}</span>
			<table cellpadding="0" cellspacing="0" style="margin: 10px 0;">
				<tr>
					<td><div style="width: 25px;height:12px;background-color:#FFDDDD;border:1px dotted #333333;"></div></td>
					<td><div style="font-size:11px;">&nbsp;&nbsp; - not competing</div></td>
				</tr>
			</table>
            {{#each data as |genders workshop_level_name|}}
            <div style="page-break-after:always;">
                {{#each genders as |dancers gender|}}
                <div style="color:#FF0000;font-weight:bold;margin-top:10px;">{{workshop_level_name}} - {{gender}}</div>
                <table cellpadding="0" cellspacing="0" class="rtable" style="margin-top:3px;">
                    <tr>
                        <td class="thead" style="width:100px;border-left:none;">Check-In</td>
                        <td class="thead" style="width:270px;">Dancer</td>
                        <td class="thead" style="width:250px;">Studio</td>
                        <td class="thead" style="border-right: 1px solid #000000;width:70px;">Age</td>
                    </tr>
                    {{#each dancers}}
                    <tr class="{{#if is_competing}}competing{{else}}not-competing{{/if}}">
                        <td class="tbody" style="border-left:none;">&nbsp;</td>
                        <td class="tbody">{{fname}} {{lname}}</td>
                        <td class="tbody">{{studio_name}}</td>
                        <td class="tbody" style="text-align:center;padding-right:3px;border-right: 1px solid #000000;">{{age}}</td>
                    </tr>
                    {{/each}}
                </table>
                {{/each}}
            </div>
            {{/each}}
        </div>
	</body>
</html>