<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{{#ifCond data.eventid '==' 14 }} TDA {{else}} NSD {{/ifCond}} Tally Sheets</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.tr_table tr td{
				font-family: Verdana, Arial, sans-serif;
				color: #555555;
				font-size: 10px;
				padding-right:3px;
			}

			.rtable tr td {
				font-size: 10px;
				text-align: right;
			}

			.inner_table tr td{
				font-size: 11px;
				font-family: Verdana, Arial, sans-serif;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
	</head>
	<body>
		<div style="page-break-after:always;width:720px;height:950px;">
			<table cellpadding="0" cellspacing="0" style="width:100%;margin-top:10px;">
				<tr>
					<td style="vertical-align:top;">
					{{#ifCond data.eventid '==' 14}}
						<img src="tda_logo.jpg" style="width:auto;height:121px;margin: 0 auto;display:block;" alt="" />
						<div style="font-family:'Trajan Pro';font-size:20pt;margin: 10px 0 0 0;text-align:center;">BEST DANCER TALLY SHEET</div>
					{{/ifCond}}
					{{#ifCond data.eventid '==' 18}}
						<img src="../../24seven_logo.png" style="width:auto;height:135px;margin: 0 auto;display:block;" alt="" />
						<div style="font-size:16pt;margin: 10px 0 0 0;text-align:center;">NON-STOP DANCER TALLY SHEET</div>
					{{/ifCond}}
					</td>
				</tr>
			</table>
			<div style="text-align:center;margin-top:12px;font-size:20px;">JANE SAMPLETON</div>
			<div style="text-align:center;margin-bottom:22px;font-size:14px;">A VERY GOOD ROUTINE NAME (AE)</div>

			<div style="width:720px;height:455px;border:1px solid #000000;margin:15px 0 0 0;">
				<div style="width:100%;border-bottom:1px solid #000000;height:160px;">
					<table cellpadding="0" cellspacing="0" style="margin:6px 0 0 2px;">
						<tr><td style="width:393px;vertical-align:top;font-family: 'Trajan Pro';font-size:20pt;font-style:italic;">SOLO&nbsp;
							</td>
							<td style="width:320px;vertical-align:middle;padding-left:4px;font-weight:bold;font-size:12pt;font-style:italic;text-align:right;">50% of score&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3">
								<table cellpadding="0" cellspacing="0" class="inner_table" style="width: 99%;">
									<tr>
										<td style="width:570px;padding-left:5px;">
											<table cellpadding="0" cellspacing="0" style="width: 100%;">
												<tr>
													<td style="width: 55px;font-style:italic;">Judge #1:</td><td style="width: 75px;font-style:italic;font-weight:bold;text-align:center;">88&nbsp;&nbsp;&nbsp;</td>
													<td style="width: 55px;font-style:italic;">Judge #2:</td><td style="width: 75px;font-style:italic;font-weight:bold;text-align:center;">95&nbsp;&nbsp;&nbsp;</td>
													<td style="width: 55px;font-style:italic;">Judge #3:</td><td style="width: 75px;font-style:italic;font-weight:bold;text-align:center;">87&nbsp;&nbsp;&nbsp;</td>
													<td style="width: 55px;font-style:italic;">Judge #4:</td><td style="width: 75px;font-style:italic;font-weight:bold;text-align:center;">92&nbsp;&nbsp;&nbsp;</td>
												</tr>
												<tr>
													<td style="font-style:italic;"><!--Judge #5:</td><td style="font-style:italic;font-weight:bold;text-align:center;">96&nbsp;&nbsp;&nbsp;--></td>
													<td style="font-style:italic;"><!-- Judge #6:</td><td style="font-style:italic;font-weight:bold;text-align:center;"><?=$routine["vips_score6"];?>&nbsp;&nbsp; -->&nbsp;</td>
													<td>&nbsp;</td><td>&nbsp;</td>
													<td>&nbsp;</td><td>&nbsp;</td>
												</tr>
												<tr>
													<td colspan="8" style="font-style:italic;padding-top:9px;color:#777777;">
														Each judge can give a maximum of 100 points. Your lowest score is dropped, for a combined total of 300 possible points.</td>
												</tr>
											</table>
										</td>
										<td style="text-align:right;">
											<span style="font-size:10px;font-style:italic;">YOUR SOLO SCORE:</span>
											<br/>
											<span style="font-size:30px;font-family:Georgia;">275</span>
											<div style="font-size:11px;font-style:italic;font-weight:bold;color:#555555;margin-top:5px;">High Gold</div>
											<div style="margin-top:5px;font-size:11px;color:#777777;font-style:italic;">Highest Solo Score:<br/><span style="font-weight:bold;">298</span>&nbsp;</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div style="width:100%;border-bottom:1px solid #000000;height:132px;">
					<table cellpadding="0" cellspacing="0" style="margin:6px 0 0 2px;">
						<tr><td style="width:413px;vertical-align:top;font-family: 'Trajan Pro';font-size:20pt;font-style:italic;">AUDITION CLASS</td>
							<td style="width:300px;vertical-align:middle;padding-left:4px;font-weight:bold;font-size:12pt;font-style:italic;text-align:right;">20% of score&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3">
								<table cellpadding="0" cellspacing="0" class="inner_table" style="width: 99%;">
									<tr>
										<td style="width:570px;padding-left:5px;">
											<table cellpadding="0" cellspacing="0" style="width: 100%;">
												<tr>
													<td style="font-style:italic;padding-top:9px;color:#777777;">
														Three judges score each dancer from 1-100 in both the Ballet Audition Class and Jazz Audition Class for a total of 600 possible points.
													</td>
												</tr>
											</table>
										</td>
										<td style="text-align:right;">
											<span style="font-size:10px;font-style:italic;">YOUR CLASS SCORE:</span>
											<br/>
											<span style="font-size:30px;font-family:Georgia;">480</span>
											<div style="margin-top:10px;font-size:11px;color:#777777;font-style:italic;">Highest Class Score:<br/><span style="font-weight:bold;">520&nbsp;</span></div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div style="width:100%;height:150px;">
					<table cellpadding="0" cellspacing="0" style="margin:6px 0 0 2px;">
						<tr><td style="width:593px;vertical-align:top;font-family: 'Trajan Pro';font-size:20pt;font-style:italic;">DANCE-OFF
							</td>
							<td style="width:120px;vertical-align:middle;padding-left:4px;font-weight:bold;font-size:12pt;font-style:italic;text-align:right;">30% of score&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3">
								<table cellpadding="0" cellspacing="0" class="inner_table" style="width: 99%;">
									<tr>
										<td style="width:570px;padding-left:5px;">
											<table cellpadding="0" cellspacing="0" style="width: 100%;">
												<tr>
													<td style="font-style:italic;padding-top:9px;color:#777777;">
														The Top Ten {{#ifCond eventid '==' 14}} Best Dancers {{else}} Non-Stop Dancers{{/ifCond}} in each age category (after your solo &amp; audition class) compete against each other in the Dance-Off. Each judge ranks the dancers #1 through #10. Your score is the judges' combined rank.<br/>Example: 10 Judges & 10 dancers - the lowest (best) possible score is 10, and the highest is 100.
													</td>
												</tr>
											</table>
										</td>
										<td style="text-align:right;">
											<span style="font-size:10px;font-style:italic;">YOUR DANCE-OFF SCORE:</span>
											<br/>
											<span style="font-size:30px;font-family:Georgia;">33</span>
											<div style="margin-top:10px;font-size:11px;color:#777777;font-style:italic;">Best Dance-Off Score:<br/><span style="font-weight:bold;">10</span></div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div style="width:720px;margin-top:25px;height:213px;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tr>
						<td style="vertical-align:top;font-weight:bold;font-size:11px;width:500px;font-family:Verdana,Arial,sans-serif;padding-left:0px;">
<!-- 							<span style="font-style:italic;">OTHER SCORING INFO:</span> -->
						</td>
						<td style="vertical-align:top;font-weight:bold;font-size:11px;font-family:Verdana,Arial,sans-serif;text-align:right;">
							TOTAL SCORE:
							<br/>
							<span style="font-family:Georgia;font-size:32px;">91.12%</span>
						</td>
					</tr>
				</table>
			</div>
			<div style="width:720px;margin-top:0px;border-top:1px solid #777777;padding-top:5px;">
				<table cellpadding="0" cellspacing="0" style="width: 100%;">
					<tr>
						<td style="color:#555555;font-family:Tahoma,Arial,sans-serif;font-size:10px;">{{#ifCond data.eventid '==' 14}} The Dance Awards {{else}} 24SEVEN Nationals{{/ifCond}} &nbsp;&nbsp;/ <span style="font-weight:bold;">&nbsp;&nbsp;{{formatDate null 'Y'}}</span></td>
						<td style="color:#555555;font-family:Tahoma,Arial,sans-serif;font-size:10px;text-align:right;">
							#103 - A REALLY GOOD ROUTINE NAME (AE)
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>