<html>
    <head>
        <script type="text/javascript">
    	//		window.print();
        </script>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>Judge's Critique Sheet</title>
        <style type="text/css">
            @page land {
                size: landscape;
            }
    
            .landscape {
                page: land;
            }
    
            html {
                margin: 0;
                padding: 0;
            }
    
            body {
                font-family: Tahoma, Arial, Helvetica, sans-serif;
                text-align: left;
                margin: 0;
                padding: 0;
                color: #000000;
            }
    
            .sometable tr td {
                font-size: 11px;
            }
        </style>
    </head>
    <body>
        <div style="width: 952px;">
            {{#with city_data}}
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td style="vertical-align:top;">
                        <div style="font-family:Unplug;font-size:20pt;">
                            {{city}} Judges Critique DVD Studio Sheet
                        </div>
                        <div style="font-size:16px;font-family:Unplug;">
                            {{venue_name}}
                        </div>
                    </td>
                    <td style="vertical-align:top;text-align:right;font-size:14px;font-family:Unplug;">
                        {{../title_date}}
                    </td>
                </tr>
            </table>
            {{/with}}

            {{#each studios}}
            <table cellpadding="0" cellspacing="0" class="sometable" style="width:100%;margin-top:20px;">
                <tr>
                    <td colspan="3">
                        <span style="font-size:16px;font-style:italic;font-family:Unplug;color:#0079BF;">
                            {{name}} 
                            {{#if studio_code}}
                                ({{studio_code}})
                            {{else}}
                                (-)
                            {{/if}}
                        </span> -
                        {{studio_id}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span style="font-size:14px;font-weight:bold;font-family:Unplug;color:#000000;">
                            {{total}} dances competing
                        </span>
                    </td>
                </tr>
                {{#eachKeyValue ../comp_groups routines}}
                    {{#if @first}}
                    <tr>
                        <td colspan="3" style="padding: 10px 0 3px;">
                            <span style="font-size:11px;font-style:italic;">
                            {{#ifCond @key '===' 'vips'}}
                                {{#ifCond ../../event_id '==' 14}}
                                Best Dancers
                                {{else}}
                                VIPs
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond @key '===' 'finals'}}
                            Finals
                            {{/ifCond}}
                            {{#ifCond @key '===' 'prelims'}}
                            Prelims
                            {{/ifCond}}                
                            </span>
                        </td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td style="width:60px;text-align:center;">
                            #{{disp_num}}
                        </td>
                        <td style="width:80px;text-align:center;">
                            {{formatDateTime mktime 'HH:mm A'}}
                        </td>
                        <td style="font-weight:bold;">
                            {{routine_name}}
                        </td>
                    </tr>
                {{/eachKeyValue}}
            </table>
            {{/each}} {{!-- studios --}}
        </div>
    </body>
</html>