<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dancer List [no link break -- 3 spaces between]</title>
</head>
<body>
    {{#each dancers}}
        {{#if bd_only}}
            {{fname}} {{lname}}&nbsp;&nbsp;&nbsp;
        {{else}}
            {{#notContains fname "Observer"}}
                {{#ifCond fname '!=' "Teacher"}}
                    {{fname}} {{lname}}&nbsp;&nbsp;&nbsp;
                {{/ifCond}}
            {{/notContains}}
        {{/if}}
    {{/each}}
</body>
</html>