<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dancer List</title>
</head>
<body>
    {{#each dancers}}
    {{#notContains fname "Observer"}}
        {{#ifCond fname '!=' "Teacher"}}
            {{fname}} {{lname}} <br>
        {{/ifCond}}
    {{/notContains}}
    {{/each}}
</body>
</html>