<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td {
				font-size: 10px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:705px;">
			<div style="font-family:Georgia;font-size:20px;">{{city}} Hotel Comps</div>
			<span style="font-family:Georgia;font-size:14px;">{{venue}} / {{disp_date}}</span>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-top:3px;">
				<tr>
					<td class="thead" style="width:225px;">Studio</td>
					<td class="thead" style="width:135px;">Contact</td>
					<td class="thead" style="width:60px;">Indep.</td>
					<td class="thead" style="width:60px;">Dancers</td>
					<td class="thead" style="width:60px;">Routines</td>
					<td class="thead" style="border-right: 1px solid #000000;width:60px;">Total Fee</td>
				</tr>
				{{#ifCond count.countOfStudios '>' 0}}
					{{#each hotelCompsData}}
						{{#each registrations}}
						<tr>
							<td class="tbody">{{studio.name}} ({{studio.code}})</td>
							<td class="tbody">{{contact_full}}</td>
							<td class="tbody">
								{{#if independent}}
									Yes
								{{/if}}
								{{#unless independent}}
									No
								{{/unless}}
							</td>
							<td class="tbody">{{sum_dancers}}</td>
							<td class="tbody">{{sum_routines}}</td>
							<td class="tbody" style="border-right:1px solid #000000;">{{dispfee}}</td>
						</tr>
						{{/each}}
					{{/each}}
				{{/ifCond}}
			</table>
		</div>
	</body>
</html>