<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Judge's Competition Schedule</title>
		<style type="text/css">
			@page land {size: portrait;}
			.landscape {page: portrait;}

			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			#sched_table {
/*  				width: 100%; */
				margin-top:8px;
			}

			#sched_table tr td {
				border-left: 1px solid #000000;
				border-top: 1px solid #000000;
				font-size: 8pt;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
			}

			.tline {
				padding: 8px 0;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div style="width: 720px;">
			<table cellpadding="0" cellspacing="0" style="width: 100%;">
				<tr>
					<td style="vertical-align:top;">
						{{#with city_data}}
						<div style="font-family:Unplug;font-size:20pt;">{{city}} {{../disp_comp_group}}Competition</div>
						<div style="font-size:16px;font-family:Unplug;">{{venue_name}}</div>
						{{/with}}
					</td>
					<td style="vertical-align:top;text-align:right;font-size:14px;font-family:Unplug;">
						 {{formatDateTime title_date "M/D/Y"}}
					</td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" id="sched_table">
				{{#each routines}}
                	{{#ifCond @index '%' ../maxrows}}
					<tr>
						<td class="thead" style="width:40px;">#</td>
						<td class="thead" style="width:80px;">Studio Code</td>
						<td class="thead" style="width:200px;">Routine Name</td>
						<td class="thead" style="width:100px;">Score</td>
						<td class="thead" style="width:100px;">Age Division</td>
						<td class="thead" style="width:100px;">Category</td>
						<td class="thead" style="width:100px;border-right:1px solid #000000;">Perf. Division</td>
					</tr>
					{{/ifCond}}
					<tr {{#ifCond @index '%' ../maxrows}}style="page-break-after:always;"{{/ifCond}}>
						<td class="tline" style="font-weight:bold;text-align:center;">{{dispnumber}}</td>
						<td class="tline" style="text-align:center;padding-left:2px;">{{studio_code}}</td>
						<td class="tline" style="padding-left:2px;">{{routine_name}}</td>
						<td class="tline" style="padding-left:2px;">&nbsp;</td>
						<td class="tline" style="padding-left:2px;">{{age_division_name_range}}</td>
						<td class="tline" style="padding-left:2px;">{{routine_category_name}}</td>
						<td class="tline" style="padding-left:2px;border-right: 1px solid #000000;">{{perf_division_name}}</td>
					</tr>
					{{#each ../awards}}
					{{#ifCond ../date_routine_id "==" date_routine_id}}
						{{#ifCond (formatDateTime ../time "YYYY-MM-DD") "==" (formatDateTime date "YYYY-MM-DD")}}
							<tr>
								<td colspan="7" class="tline" style="padding-left:2px; font-weight:bold;border-right:1px solid #000000;">
									{{desc}}
								</td>
							</tr>
						{{/ifCond}}
					{{/ifCond}}
					{{/each}}
				{{/each}}
			</table>
		</div>
	</body>
</html>