<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
        //window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Competition Schedule</title>
    <style type="text/css">
        @page land {size: landscape;}
        .landscape {page: land;}

        html { margin: 0; padding: 0;}

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
        }

        #sched_table {
            margin-top:8px;
        }

        #sched_table tr td {
            border-left: 1px solid #000000;
            border-top: 1px solid #000000;
            font-size: 8pt;
        }

        .thead {
            padding: 1px 0;
            background-color:#DDDDDD;
            text-align: center;
            font-weight: bold;
        }

        .tline {
            padding: 1px 0;
            text-align: left;
        }
    </style>
</head>
<body>
    <div style="width: 952px;page-break-after:always;">
        <table cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td style="vertical-align:top;">
                    <img src="/img/{{event_id}}.jpg" style="width:210px;display:block;margin-bottom:10px;" alt="" />
                    {{#with city_data}}
                    <div style="font-family: 'Script of Sheep';font-size:20pt;">{{city}} {{../disp_comp_group}} Competition</div>
                    <div style="font-size:16px;font-family: 'Script of Sheep';">{{venue_name}}</div>
                    {{/with}}
                </td>
                <td style="vertical-align:bottom;text-align:right;font-size:14px;font-family: 'Script of Sheep';">
                    {{formatDateTime title_date "M/D/Y"}}
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" id="sched_table">
            <tr>
                <td colspan="4" style="padding-left:15px;font-size:12px;border:none;">ROOM 1</td>
                <td colspan="4" style="padding-left:15px;font-size:12px;border:none;">ROOM 2</td>
            </tr>
            <tr>
                <td class="thead" style="width:40px;">#</td>
                <td class="thead" style="width:100px;">Time</td>
                <td class="thead" style="width:215px;">Routine/Studio</td>
                <td class="thead" style="width:330px;">Cat./Div.</td>
                <td class="thead" style="width:40px;">#</td>
                <td class="thead" style="width:100px;">Time</td>
                <td class="thead" style="width:215px;">Routine/Studio</td>
                <td class="thead" style="width:330px;border-right:1px solid #000000;">Cat./Div.</td>
            </tr>
        {{#each routines}}
            <tr {{#ifCond @index '%' ../maxrows}}style="page-break-after:always;"{{/ifCond}}>
                <td class="tline" style="text-align:center;">
                    {{room1.dispnumber}}
                </td>
                <td class="tline" style="text-align: center;">
                    {{#if room1.time}}{{formatDateTime room1.time "h:mm A"}}{{/if}}
                </td>
                <td class="tline" style="padding-left:2px;">
                    <div style="width: 253px; overflow: hidden; white-space: nowrap;">{{#ifCond room1.routine_category_name "===" "Solo"}} {{room1.solo_dancer}} ({{room1.routine_name}}){{else}} {{room1.routine_name}} {{/ifCond}}</div>
                    <div style="width: 243px; overflow: hidden; white-space: nowrap;">{{room1.studio_name}} {{#if room1.studio_code}}({{room1.studio_code}}){{/if}}</div>
                </td>
                <td class="tline" style="padding-left:2px;">
                    {{room1.age_division_name_range}}<br/>{{room1.routine_category_name}} {{room1.perf_division_name}}
                </td>
                <td class="tline" style="text-align:center; ">
                    {{room2.dispnumber}}
                </td>
                <td class="tline" style="text-align: center; ">
                    {{#if room2.time}}{{formatDateTime room2.time "h:mm A"}}{{/if}}
                </td>
                <td class="tline" style="padding-left:2px; ">
                    <div style="width: 253px; overflow: hidden; white-space: nowrap;">{{#ifCond room2.routine_category_name "===" "Solo"}} {{room2.solo_dancer}} ({{room2.routine_name}}){{else}} {{room2.routine_name}} {{/ifCond}}</div>
                    <div style="width: 243px; overflow: hidden; white-space: nowrap;">{{room2.studio_name}} {{#if room2.studio_code}}({{room2.studio_code}}){{/if}}</div>
                    </td>
                <td class="tline" style="padding-left:2px;border-right:1px solid #000000;">
                    {{room2.age_division_name_range}}<br/>{{room2.routine_category_name}} {{room2.perf_division_name}}
                </td>
            </tr>
            {{var "alreadysplat" false}}
            {{#each ../awards}}
            {{#if (or 
                (and 
                    (eq ../room1.date_routine_id date_routine_id)
                    (eq (formatDateTime ../room1.time "YYYY-MM-DD") (formatDateTime date "YYYY-MM-DD")))
                (and
                    (eq ../room2.date_routine_id date_routine_id) 
                    (eq (formatDateTime ../room2.time "YYYY-MM-DD") (formatDateTime date "YYYY-MM-DD"))))}}
                {{#if @first}}<tr>{{/if}}

                {{#if (eq (formatDateTime ../room1.time "YYYY-MM-DD") (formatDateTime date "YYYY-MM-DD"))}}
                    <td colspan="4" class="tline" style="padding: 3px 0 3px 2px; font-weight:bold;border-right:none;">
                        {{formatDateTime time "h:mm A"}} - {{desc}}
                        {{var alreadysplat true}}
                    </td>

                {{else}}
                    {{#if (and (not ../alreadysplat) (and (eq ../room2.date_routine_id date_routine_id) (eq (formatDateTime ../room2.time "YYYY-MM-DD") (formatDateTime date "YYYY-MM-DD"))))}}
                        <td colspan="4" class="tline">&nbsp;</td>
                        {{var alreadysplat true}}
                    {{/if}}
                {{/if}}

                {{#if (and (eq ../room2.date_routine_id date_routine_id) (eq (formatDateTime ../room2.time "YYYY-MM-DD") (formatDateTime date "YYYY-MM-DD")))}}
                    {{formatDateTime time "h:mm A"}} - {{desc}}
                    {{var alreadysplat true}}
                {{else}}
                    {{#if (and (not ../alreadysplat) (and (eq ../room1.date_routine_id date_routine_id) (eq (formatDateTime ../room1.time "YYYY-MM-DD") (formatDateTime date "YYYY-MM-DD"))))}}
                        <td colspan="4" class="tline">&nbsp;</td>
                        {{var alreadysplat true}}
                    {{/if}}
                {{/if}}

                {{#if @last}}</tr>{{/if}}

            {{/if}}
            {{/each}}
        {{/each}}

        </table>
    </div>
</body>
</html>