<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Studio Results</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Nothing+You+Could+Do:400' rel='stylesheet' type='text/css'>
    <style type="text/css">
        html { margin: 0; padding: 0;}

        body {
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
            font-size: 12px;
            font-family: Tahoma, Arial, sans-serif;
        }
        .awardheading {
            font-family: 'Oswald';
            font-size: 26px;
            color: #23a496;
        }

        .listtable {
            margin-bottom: 15px;
        }
            .listtable .tdfirst {
                width: 30px;
            }
            .listtable .tdsecond {
                width: 350px;
                font-weight: bold;
            }
            .listtable .tdthird {
                width: 160px;
            }
            .listtable .tdfourth {
                width: 180px;
            }
    </style>
    <script type="text/javascript">
    //	window.print();
    </script>
</head>
<body>
{{#each studios}}
    <div style="width:720px;page-break-after:always;">
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td colspan="2">
                    <div style="background:url('/img/jump_report_header.jpg') no-repeat top center;margin-bottom:10px;width:720px;height:119px;background-size:cover;">
                        <table cellpadding="0" cellspacing="0" style="float:right;margin:0px 20px 0 0;">
                            <tr>
                                <td style="font-family:'Oswald',sans-serif;font-size:35px;color:#23a496;">STUDIO RESULTS</td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="color:#FFFFFF;text-align:right;">
                                        JUMP DANCE CONVENTION
                                        <br/>
                                        (818) 432-4395
                                        <br/>
                                        info@jumptour.com
                                    </div>
                                </td>
                        </table>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center;">
                    <span style="font-family:'festus!';font-size:50px;color:#FF0000;line-height:60px;">Congratulations!</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="color:#000000;font-size:40px;font-family:'Nothing You Could Do';">
                        {{../city_name}}, {{../state}}
                    </div>
                    <div style="color:#000;font-size:20px;font-family:'Oswald',sans-serif">
                        {{../disp_date}}
                    </div>
                    <div style="border-bottom: 1px dashed #999999;font-family:'Oswald';margin-bottom:5px;padding-bottom:5px;font-size:24px;color:#000000;font-style:normal;">
                        <span style='font-weight:bold;'>{{studio_name}}</span>
                        &nbsp;&nbsp;&nbsp;<span style='font-weight:normal;'>({{studio_code}})</span>
                    </div>
                </td>
            </tr>
        </table>
        
    {{#each bis}}
    {{#if @first}}
        <div class="awardheading">Best In Studio</div>
        <table class="listtable" cellpadding="0" cellspacing="0">
            <tr><td colspan="4" style="padding:4px 0;">&bull; Each routine receives free Finals Competition entry to The Dance Awards 2015.</td></tr>
    {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond"> {{strReplace "&amp;" "&" routine_name}}</td>
                <td class="tdthird"> {{agedivision_name}}&bull;{{age_division_range}}</td>
                <td class="tdfourth">&nbsp;</td>
            </tr>
    {{#if @last}}
        </table>
    {{/if}}
    {{/each}}

    {{#each boj}}
        {{#if @first}}
        <div class="awardheading">Best of JUMP</div>
        <table class="listtable" cellpadding="0" cellspacing="0">
            <tr><td colspan="4" style="padding:4px 0;">&bull; Each routine receives a $250 JUMP Competition Voucher for the 2015-2016 season.</td></tr>
            <tr><td colspan="4" style="padding:4px 0;">&bull; Each routine receives free Finals Competition entry to The Dance Awards 2015.</td></tr>
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond">{{strReplace "&amp;" "&" routine_name}}</td>
                <td class="tdthird"> {{age_division_name}} &bull; {{age_division_range}}</td>
                <td class="tdfourth">&nbsp;</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}

    {{#ifCond well_rounded '>' 0}}
        <div class="awardheading">Well-Rounded Studio Award</div>
        &bull; Your studio receives a $250 JUMP Competition Voucher for the 2015-2016 season.
    {{/ifCond}}

    {{#each hsa}}
        {{#if @first}}
        <div class="awardheading">High Score (by age division)</div>
        <table class="listtable" cellpadding="0" cellspacing="0">
            {{#if has1st_solo}}
            <tr><td colspan="4" style="padding:4px 0;">&bull; 1st Place Soloists receive free Finals Competiton entry to The Dance Awards 2015.</td></tr>
            {{/if}}
            {{#if has1st_duotrio}}
            <tr><td colspan="4" style="padding:4px 0;">&bull; 1st Place Duo/Trios receive free Finals Competiton entry to The Dance Awards 2015.</td></tr>
            {{/if}}
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond"> {{strReplace "&amp;" "&" routine_name}}</td>
                <td class="tdthird"> {{place_str}} Place</td>
                <td class="tdfourth"> {{age_division_name}} {{age_division_range}} &bull; {{routine_category_name}}</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}



    {{#each hsp as |perf_div_names age_div|}}
        {{#if @first}}
        <div class="awardheading">High Score (by performance division)</div>
        {{/if}}
        {{#each perf_div_names as |dancers rout_cat|}}
        <!-- HighScore PERF Div -->
            {{#each dancers}}
                {{#if @first}}
                <table class="listtable" cellpadding="0" cellspacing="0">
                {{/if}}
                        <tr>
                            <td class="tdfirst">{{place}}</td>
                            <td class="tdsecond">{{strReplace "&amp;" "&" routine_name}}</td>
                            <td class="tdthird">{{studio_name}}</td>
                            <td class="tdfourth">{{age_div}} &bull; {{rout_cat}}</td>
                        </tr>
                {{#if @last}}
                </table>
                {{/if}}
            {{/each}}
        {{/each}}
    {{/each}}

    {{#each adjudicated}}
        {{#if @first}}
        <div class="awardheading">Adjudicated Awards</div>
        <table class="listtable" cellpadding="0" cellspacing="0">
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond">{{strReplace "&amp;" "&" routine_name}}</td>
                <td class="tdthird">Score: {{finals_total_score}}</td>
                <td class="tdfourth">Award: {{awards_name}}</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}

    {{#each enter}}
        {{#if @first}}
        <div class="awardheading">Entertainment Award</div>
        <table class="listtable" cellpadding="0" cellspacing="0">
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond">{{strReplace "&amp;" "&" routine_name}}</td>
                <td class="tdthird">{{age_division_name}} &bull; {{age_division_range}}</td>
                <td class="tdfourth">&nbsp;</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}

    {{#each choreo}}
        {{#if @first}}
        <div class="awardheading">Choreography Award</div>
        <table class="listtable" cellpadding="0" cellspacing="0">
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond">{{strReplace "&amp;" "&" routine_name}}</td>
                <td class="tdthird">{{age_division_name}} &bull; {{age_division_range}}</td>
                <td class="tdfourth">&nbsp;</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}


    {{#each scholarship}}
        {{#if @first}}
        <div class="awardheading">VIP Scholarships <span style="font-family:Arial,sans-serif;font-style:italic;font-size:10px;color:#FF0000;">Please do not share these results with your dancers until after the Closing Show!</span></div>
        <table class="listtable" cellpadding="0" cellspacing="0">
            {{#if ../vip_haswinner}}
            <tr><td colspan="4" style="padding:4px 0;">&bull; VIP Winners receive (1) JUMP Tour Scholarship, (1) Workshop Scholarship to The Dance Awards 2015, and (1) $400 DancerPalooza Intensive Scholarship.</td></tr>
            {{/if}}
            {{#if ../vip_hasrunnerup}}
            <tr><td colspan="4" style="padding:4px 0;">&bull; VIP Runners-Up receive (1) Workshop Scholarship to The Dance Awards 2015 and (1) $250 DancerPalooza Intensive Scholarship.</td></tr>
            {{/if}}
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond">{{fname}} {{lname}}</td>
                <td class="tdthird">{{strReplace "Class" "" scholarship_name}}{{!-- <?php print(str_replace("Class","",$award["scholarshipname"])); ?> --}}</td>
                <td class="tdfourth">{{winnerstr}}</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}

    {{#each class_scholarships}}
        {{#if @first}}
        <div class="awardheading">Class Scholarships <span style="font-family:Arial,sans-serif;font-style:italic;font-size:10px;color:#FF0000;">Please do not share these results with your dancers until after the Closing Show!</span></div>
        <table class="listtable" cellpadding="0" cellspacing="0">
            <tr><td colspan="4" style="padding:4px 0;">&bull; Class Scholarship Winners receive (1) $250 DancerPalooza Intensive Scholarship.</td></tr>
        {{/if}}
            <tr>
                <td class="tdfirst">&nbsp;</td>
                <td class="tdsecond">{{fname}} {{lname}}</td>
                <td class="tdthird">{{scholarship_name}}</td>
                <td class="tdfourth">&nbsp;</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
    {{/each}}


    </div>
{{/each}} {{!-- each studio --}}
</body>
</html>