<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{{title}}</title>
		<style>
			@page land {size: landscape;}
			.landscape {page: land;}

			html { margin: 0; padding: 0;}

			body {
				font-family: Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
			}
			#sched_table {
				{{#ifCond tour_date.workshop_room_count '==' 7}}
					font-size: 7pt;
				{{/ifCond}}
				{{#ifCond tour_date.workshop_room_count '==' 6}}
					font-size: 7pt;
				{{/ifCond}}
				{{#ifCond tour_date.workshop_room_count '==' 5}}
					font-size: 7pt;
				{{/ifCond}}
				{{#ifCond tour_date.workshop_room_count '==' 4}}
					font-size: 7.5pt;
				{{/ifCond}}
				{{#ifCond tour_date.workshop_room_count '==' 3}}
					font-size: 10pt;
				{{/ifCond}}
				{{#ifCond tour_date.workshop_room_count '==' 2}}
					font-size: 10pt;
				{{/ifCond}}
			}
			.ws_body {
				border-right: 1px solid #000000;
				border-bottom: 1px solid #000000;
				padding: 1px 0px 1px 2px;
			}
		</style>
	</head>
	<body>

		<div style="width: 952px;">
			<table cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>
					<td style="vertical-align:top;text-align:left;width:282px;">
						<div style="color:#FF1F1F;font-family:Regal box;font-size:50pt;">JUMP</div>
						<div style="font-family:'Festus!';font-size:24px;margin:-10px 0 0 21px;">The Alternative Convention</div>
<!--
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td style="font-size:12px;vertical-align:middle;width:80px;">Sponsored by</td>
								<td><img src="workshop_capezio.png" alt="" style="width:80px;"/></td>
							</tr>
						</table>
-->
					</td>
					<td>
						{{#ifCond tour_date.workshop_updated '==' 1}}
							<span style="font-family:Blue Highway D Type;color:#111111;font-size:36pt;">&nbsp;&nbsp;&nbsp;&nbsp;UPDATED</span>
						{{/ifCond}}
					</td>
					<td style="vertical-align:top;text-align:right;">
						<div style="font-family:Blue Highway D Type;color:#FF1F1F;font-size:40pt;">WORKSHOP SCHEDULE</div>
						<!-- <div style="color:#AAAAAA;font-size:18pt;font-family: 'BauhausCTT';margin:-7px 0 0 0;"><?php print($rawcity." - ".$venuename); ?></div> -->
						<div style="color:#000000;font-size:16pt;font-family: Blue Highway D Type;margin:-7px 0 0 0;">{{tour_date.event_city.name}} - {{tour_date.venue.name}}</div>
					</td>
				</tr>
			</table>
			<table id="sched_table" cellpadding="0" cellspacing="0" style="margin-top:10px;">
			{{#each data_schedules_workshop.dates}}
							<tr>
							<td style="border:1px solid #000000;background-color:#EEEEEE;color:#000000;padding:4px 0 3px 2px;width:130px;"><div style="font-style:italic;font-weight:bold;font-size:8pt;">{{date}}</div></td>
							{{#ifCond ../tour_date.workshop_room_count '==' 7}}
								{{var "tdw" "115px"}}
							{{/ifCond}}
							{{#ifCond ../tour_date.workshop_room_count '==' 6}}
								{{var "tdw" "134px"}}
							{{/ifCond}}
							{{#ifCond ../tour_date.workshop_room_count '==' 5}}
								{{var "tdw" "161px"}}
							{{/ifCond}}
							{{#ifCond ../tour_date.workshop_room_count '==' 4}}
								{{var "tdw" "202px"}}
							{{/ifCond}}
							{{#ifCond ../tour_date.workshop_room_count '==' 3}}
								{{var "tdw" "270px"}}
							{{/ifCond}}
							{{#ifCond ../tour_date.workshop_room_count '==' 2}}
								{{var "tdw" "420px"}}
							{{/ifCond}}
								{{#each ../tour_date.workshop_room}}
									<td style="{{#ifCond @index '==' (action ../workshop_room_count '-' 1)}}border-right:1px solid #000000;{{/ifCond}}border-right:1px solid #000000;border-top:1px solid #000000;border-bottom:1px solid #000000;background-color:#EEEEEE;font-family:Verdana;font-size:8pt;font-weight:bold;font-style:italic;padding:4px 0 3px 2px;width:{{../tdw}}">
										{{name}}
										<div style="font-size:6.5pt;font-weight:normal;">{{place}}</div>
									</td>
								{{/each}}
						</tr>
						{{#each data}}
						<tr style="page-break-after:always;">
					
							<td class="ws_body" style="{{#ifCond numrows '==' (action data.maxrows '-' 1)}}border-top:1px solid #000000;{{/ifCond}}border-left:1px solid #000000;font-weight:bold;font-style:italic;padding:2px 0 2px 2px;">{{formatDateTime start_time "h:mm A"}} - {{formatDateTime end_time "h:mm A"}}</td>
							{{#each data_workshop}}
							<td class="ws_body" colspan="{{span}}" style="padding:2px 0 2px 2px;"><span style="{{#ifCond room1_bold '==' 1}} font-weight:bold;font-style:italic;{{/ifCond}} {{#ifCond room1_highlight '==' 1}} color:#FF0000;font-style:italic;{{/ifCond}}">{{text}}</span></td>
							{{/each}}
						{{/each}}
						</tr>
						<tr><td colspan="{{inc workshop_room_count}}" style="height:20px;"></td></tr>
				{{/each}}
				</table>
		</div>
	</body>
</html>