<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Mailing Labels</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
				font-family: 'OfficinaSansCTT', Tahoma, sans-serif;
			}
			.sl_table {
/* 				margin-left:30px; */
			}
			.sl_table tr td {
				padding: 0 0 0 0px;
				width: 340px;
				text-align: left;
			}

			.labelbg {
				background: url("mailing_label_bg.png") no-repeat top center;
				width:300px;
				height:195px;
				font-family: 'Blue Highway D Type', Arial, sans-serif;
				font-size:18px;
				background-size: contain;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
	</head>
	<body>
		{{#each dancers}}
			{{#ifEven @index}}
			<div style="width:720px;padding-top:30px;height:278px;">
				<table cellpadding="0" cellspacing="0" class="sl_table" {{#ifCond (inc @index) '%' 3}}"style='page-break-after:always;padding-bottom:0;'"{{/ifCond}}>
					<tr>
						<td style="vertical-align: top;">
							{{#with (lookup ../dancers @index)}}

								<div class="labelbg">
									<table cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<div style="height:54px;padding:0;margin:0;text-align:right;font-size:36px;font-family:'Blue Highway D Type',Arial,sans-serif;color:#555555;">
													{{scholarship_code}}
												</div>
											</td>
										</tr>
										<tr>
											<td style="padding-top:30px;vertical-align:top;font-family:'Blue Highway D Type',Arial,sans-serif;">
												Congratulations {{fname}} {{lname}}!
												<br/>
												{{studio_name}}
												<br/>
												{{scholarshipname}} {{#if winner}}Winner{{else}}Runner-Up{{/if}}
											</td>
										</tr>
									</table>
								</div>

							{{/with}}
						</td>
						<td style="vertical-align: top;padding-left:90px;">
							{{#with (lookup ../dancers (inc @index))}}

								<div class="labelbg">

									<table cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<div style="height:54px;padding:0;margin:0;text-align:right;font-size:36px;font-family:'Blue Highway D Type',Arial,sans-serif;color:#555555;">
													{{scholarship_code}}
												</div>
											</td>
										</tr>
										<tr>
											<td style="padding-top:30px;vertical-align:top;font-family:'Blue Highway D Type',Arial,sans-serif;">
												Congratulations {{fname}} {{lname}}!
												<br/>
												{{studio_name}}
												<br/>
												{{scholarshipname}} {{#if winner}}Winner{{else}}Runner-Up{{/if}}
											</td>
										</tr>
									</table>
								</div>
							{{/with}}
						</td>
					</tr>
				</table>
			</div>
			{{/ifEven}}
		{{/each}}
		
	</body>