<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td {
				font-size: 10px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:705px;">
			<div style="font-family:Unplug;font-size:20px;">{{data.city}} Studio List</div>
			<span style="font-family:Unplug;font-size:14px;">{{data.venue}} / {{data.display_date}}</span>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-top:3px;">
				<tr>
					<td class="thead" style="width:235px;">Studio</td>
					<td class="thead" style="width:115px;">Contact</td>
					<td class="thead" style="width:35px;">Indp.</td>
					<td class="thead" style="width:45px;">Rou. #</td>
					<td class="thead" style="width:245px;">Dancer #</td>
					<td class="thead" style="border-right: 1px solid #000000;width:50px;">Pkt. #</td>
				</tr>
			{{#each studios}}
				<tr>
					<td class="tbody">{{studio.name}} ({{studio.code}})</td>
					<td class="tbody">{{studio.contact_full}}</td>
					<td class="tbody">{{studio.independent}}</td>
					<td class="tbody">{{studio.routine_count}}</td>
					<td class="tbody">{{#with studio.count}}Tc({{#if Teacher}}{{Teacher}}{{else}}0{{/if}}) Sr({{#if Senior}}{{Senior}}{{else}}0{{/if}}) Tn({{#if Teen}}{{Teen}}{{else}}0{{/if}}) Jr({{#if Junior}}{{Junior}}{{else}}0{{/if}}) Mi({{#if Mini}}{{Mini}}{{else}}0{{/if}}) Js({{#if JUMPstart}}{{JUMPstart}}{{else}}0{{/if}}) Ob({{#if Observer}}{{Observer}}{{else}}0{{/if}}) Ob2({{#if Observer2}}{{Observer2}}{{else}}0{{/if}}){{/with}}</td>
					<td class="tbody" style="text-align:center;border-right: 1px solid #000000;">{{studio.packet_count}}</td>
				</tr>
			{{/each}}
				<tr>
					<td colspan="6" style="text-align:right;font-size:11px;font-weight:bold;padding-right:10px;">Total Packets: {{data.tpc}} @ ~43 sec/each = approx {{data.total}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>