<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Mailing Labels</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
				font-family: 'OfficinaSansCTT', Tahoma, sans-serif;
			}
			.sl_table {
/* 				margin-left:30px; */
			}
			.sl_table tr td {
				padding: 0 0 0 0px;
				width: 340px;
				text-align: left;
			}

			.labelbg {
				background: url("https://stats.breakthefloor.com/reports/results/jump_scholarship_shipping_labels/mailing_label_bg.png") no-repeat top center;width:300px;height:149px;
				font-family: 'Blue Highway D Type', Arial, sans-serif;
				font-size:16px;
				padding-top:30px;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
	</head>
	<body>
		{{#each dancers}}
			{{#ifEven @index}}
		<div style="width:720px;padding-top:30px;">
			<table cellpadding="0" cellspacing="0" class="sl_table" {{#ifCond (inc @index) '%' 3}}"style='page-break-after:always;padding-bottom:0;'"{{/ifCond}}>
				<tr>
					<td style="vertical-align: top;">
						{{#with (lookup ../dancers @index)}}
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td style="text-align:left;vertical-align:top;">
										<span style="font-family:Regal Box;font-size:52px;color:#FF0000;">JUMP</span> <!-- text-shadow:0 1px 1px rgba(0, 0, 0, 1); -->
									</td>
									<td style="color:#555555;text-align:right;vertical-align:top;font-family:'Blue Highway D Type',Arial,sans-serif;">
										{{scholarship_code}}
									</td>
								</tr>
							</table>

							<div style="font-family:'festus!';font-size:18px;margin-bottom:2px;line-height:16px;">the alternative convention</div>
							<span style="font-size:10px;line-height:9px;">
								5446 Satsuma Ave.<br/>
								North Hollywood, CA 91601<br/>
								818.432.4395
							</span>
							<div class="labelbg">
								<table cellpadding="0" cellspacing="0">
									<tr>
<!-- 										<td style="width:35px;vertical-align:top;">&nbsp;</td> -->
										<td style="vertical-align:top;font-family:'Blue Highway D Type',Arial,sans-serif;">
											Congratulations {{fname}} {{lname}}!
											<br/>
											{{studio_name}}
											<br/>
											{{scholarshipname}} {{#if winner}}Winner{{else}}Runner-Up{{/if}}
										</td>
									</tr>
								</table>
							</div>
						{{/with}}
					</td>
					<td style="vertical-align: top;padding-left:90px;">
						{{#with (lookup ../dancers (inc @index))}}
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td style="text-align:left;vertical-align:top;">
										<span style="font-family:Regal Box;font-size:52px;color:#FF0000;">JUMP</span> <!-- text-shadow:0 1px 1px rgba(0, 0, 0, 1); -->
									</td>
									<td style="color:#555555;text-align:right;vertical-align:top;font-family:'Blue Highway D Type',Arial,sans-serif;">
										{{scholarship_code}}
									</td>
								</tr>
							</table>
							<div style="font-family:'festus!';font-size:18px;margin-bottom:2px;line-height:16px;">the alternative convention</div>
							<span style="font-size:10px;line-height:9px;">
								5446 Satsuma Ave.<br/>
								North Hollywood, CA 91601<br/>
								818.432.4395
							</span>
							<div class="labelbg">
								<table cellpadding="0" cellspacing="0">
									<tr>
<!-- 										<td style="width:35px;vertical-align:top;">&nbsp;</td> -->
										<td style="vertical-align:top;font-family:'Blue Highway D Type',Arial,sans-serif;">
											Congratulations {{fname}} {{lname}}!
											<br/>
											{{studio_name}}
											<br/>
											{{scholarshipname}} {{#if winner}}Winner{{else}}Runner-Up{{/if}}
										</td>
									</tr>
								</table>
							</div>
						{{/with}}
					</td>
				</tr>
			</table>
		</div>
			{{/ifEven}}
		{{/each}}
	</body>