<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
        //window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Competition Schedule</title>
    <style type="text/css">
        @page land {size: landscape;}
        .landscape {page: land;}

        html { margin: 0; padding: 0;}

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
        }

        #sched_table {
            margin-top:8px;
        }

        #sched_table tr td {
            border-left: 1px solid #000000;
            border-top: 1px solid #000000;
            font-size: 8pt;
        }

        .thead {
            padding: 1px 0;
            background-color:#DDDDDD;
            text-align: center;
            font-weight: bold;
        }

        .tline {
            padding: 1px 0;
            text-align: left;
        }
    </style>
</head>
<body>
    <div style="width: 952px;page-break-after:always;">
        <table cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td style="vertical-align:top;">
                    <img src="/img/jump_logo_red.png" style="width:210px;display:block;margin-bottom:10px;" alt="" />
                    {{#with city_data}}
                    <div style="font-family: 'Script of Sheep';font-size:20pt;">{{city}} {{../disp_comp_group}} Competition - ROOM {{../room}}</div>
                    <div style="font-size:16px;font-family: 'Script of Sheep';">{{venue_name}}</div>
                    {{/with}}
                </td>
                <td style="vertical-align:bottom;text-align:right;font-size:14px;font-family: 'Script of Sheep';">
                    {{formatDateTime title_date "M/D/Y"}}
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" id="sched_table">
        {{#each routines}}
            {{#ifCond @index '%' ../maxrows}}
            <tr>
                <td class="thead" style="width:40px;">#</td>
                <td class="thead" style="width:60px;">Time</td>
                <td class="thead" style="width:250px;">Studio</td>
                <td class="thead" style="width:260px;">Routine Name</td>
                <td class="thead" style="width:110px;">Age Division</td>
                <td class="thead" style="width:110px;">Category</td>
                <td class="thead" style="width:110px;border-right:1px solid #000000;">Perf. Division</td>
            </tr>
            {{/ifCond}}
                 
            <tr {{#ifCond @index '%' ../maxrows}}style="page-break-after:always;"{{/ifCond}}>
                <td class="tline" style="text-align:center;">{{dispnumber}}</td>
                <td class="tline" style="text-align: center;">{{formatDateTime time "h:mm A"}}</td>
                <td class="tline" style="padding-left:2px;"><div style="width: 243px; overflow: hidden; white-space: nowrap;">{{studio_name}} ({{studio_code}})</div></td>
                <td class="tline" style="padding-left:2px;"><div style="width: 253px; overflow: hidden; white-space: nowrap;">
                    {{#ifCond routine_category_name "===" "Solo"}} {{solo_dancer}} ({{routine_name}})
                    {{else}} {{routine_name}} {{/ifCond}}</div></td>
                <td class="tline" style="padding-left:2px;">{{age_division_name_range}}</td>
                <td class="tline" style="padding-left:2px;">{{routine_category_name}}</td>
                <td class="tline" style="padding-left:2px;border-right: 1px solid #000000;">{{perf_division_name}}</td>
            </tr>
            {{#each ../awards}}
            {{#ifCond ../date_routine_id "==" date_routine_id}}
                {{#ifCond (formatDateTime ../time "YYYY-MM-DD") "==" (formatDateTime date "YYYY-MM-DD")}}
                    <tr>
                        <td colspan="7" class="tline" style="padding-left:2px; font-weight:bold;border-right:1px solid #000000;">
                            {{desc}}
                        </td>
                    </tr>
                {{/ifCond}}
            {{/ifCond}}
            {{/each}}
        {{/each}}
        </table>
    </div>
<?php } ?>
</body>
</html>