<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Reg. Packet</title>
    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
            font-size: 12px;
            font-family: Tahoma, Arial, sans-serif;
        }

        #sum_table tr td {
            font-size: 11px;
        }
    </style>
    <script type="text/javascript">
		//	window.print();
    </script>
</head>

<body>
{{#each studios}}
    <!-- PAGE 1 -->
    <div style="width:720px;page-break-after:always;">
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td style="vertical-align:top;">
                    <div style="font-size:12px;">
                        <span style="font-family:Regal Box;font-size:60px;color:#FF0000;">JUMP</span>
                        <br/>
                        <div style="font-family:'festus!';font-size:26px;margin:5px 0 10px;line-height:11px;">the alternative convention</div>
                        <span style="font-style:italic;">
                            5446 Satsuma Ave.
                            <br/> North Hollywood, CA 91601
                        </span>
                    </div>
                </td>
                <td style="text-align:right;vertical-align:top;">
                    <div style="margin-top:5px;color:#4D73C4;font-size:35px;font-family:'Blue Highway D Type';">
                        Registration Packet
                    </div>
                </td>
            </tr>
        </table>


        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td style="vertical-align:top;width:460px;">
                    <div style="text-align:justify;padding-top:30px;">
                        <span style="font-weight:bold;font-size:14px;font-style:italic;">Dear
                            {{contact_fname}},</span>
                        <br/>
                        <br/>
                        {{#ifCond independent '==' 0}}
                        Welcome to JUMP! I am so glad you joined us this year! I hope you’re ready for an action packed weekend!
                        <br/>
                        <br/> Enclosed, please find a list of all participating dancers from your studio, wristbands, and
                        class scholarship numbers for all your Mini, Junior, Teen and Senior dancers. Please be sure
                        your students wear their scholarship number during classes all day Saturday and Sunday only.
                        <br/>
                        <br/> That’s about it for now! If you have any questions, please feel free to ask myself or Caitlin
                        - we'd be happy to help!
                        <br/>
                        <br/> Have a great weekend!
                        {{else}}
                        Welcome to JUMP! I am so glad you joined us this year. I hope you’re ready for an action packed weekend!
                        <br/>
                        <br/> Enclosed, please find your wristband(s) and scholarship number (if registered as a Mini, Jr.
                        Teen, or Sr.). Your wristband must be worn at all times during the workshop classes on Saturday
                        and Sunday only.
                        <br/>
                        <br/> That's about it for now! If you have any questions, please feel free to ask myself or Caitlin
                        - we'd be happy to help!
                        <br/>
                        <br/> Have a great weekend!
                        {{/ifCond}}
                        <br/>
                        <br/> Rock On,
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2">
                                    <img src="/img/gilsig.png" alt="" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width: 192px;">Gil Stroming, President
                                    <br/>Break The Floor Productions</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <!-- END PAGE 1 -->

    <!-- WORKSHOP REGISTRANTS -->
    {{#ifCond workshop_registrants_count '>' 0}}
    <div style="width:720px;page-break-after:always;">
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td style="vertical-align:top;">
                    <div style="font-size:12px;">
                        <span style="font-family:Regal Box;font-size:60px;color:#FF0000;">JUMP</span>
                        <br/>
                        <div style="font-family:'festus!';font-size:26px;margin:5px 0 10px;line-height:11px;">the alternative convention</div>
                        <span style="font-style:italic;">
                            5446 Satsuma Ave.
                            <br/> North Hollywood, CA 91601
                        </span>
                    </div>
                </td>
                <td style="text-align:right;vertical-align:top;">
                    <div style="margin-top:5px;color:#4D73C4;font-size:35px;font-family:'Blue Highway D Type';">
                        Registration Packet
                    </div>
                </td>
            </tr>
        </table>


        <div style="margin-top:20px;font-size:35px;color:#4D73C4;font-family:'Blue Highway D Type',sans-serif;font-weight:bold;">
            {{../city}}
        </div>
        <div style="font-size:16px;font-family:'Blue Highway D Type',sans-serif;border-bottom: 1px dashed #555555;width:100%;padding-bottom:15px;">
            {{../disp_date}}
        </div>
        <table cellpadding="0" cellspacing="0" style="margin-top:15px;width:100%;">
            <tr>
                <td style="width: 120px;color:#555555;text-align:left;vertical-align:top;">Director Name:</td>
                <td style="color:#AD9E00;font-weight:bold;width: 380px;vertical-align:top;">
                    {{contact_fname}} {{contact_lname}}
                </td>
            </tr>
            <tr>
                <td style="color:#555555;text-align:left;vertical-align:top;">Studio:</td>
                <td style="font-weight:bold;vertical-align:top;">
                    {{studio_name}}
                </td>
            </tr>
            <tr>
                <td style="color:#555555;text-align:left;vertical-align:top;">Studio Code:</td>
                <td style="font-weight:bold;vertical-align:top;">
                    {{studio_code}}
                </td>
            </tr>
            <tr>
                <td style="color:#555555;text-align:left;vertical-align:top;">Total Registered:</td>
                <td style="font-weight:bold;vertical-align:top;">
                    {{dancer_count}}
                </td>
            </tr>
            <tr>
                <td style="color:#555555;text-align:left;vertical-align:top;">Participant Levels:</td>
                <td style="vertical-align:top;font-size:11px;">
                    Teachers({{teacher_count}})&nbsp;&nbsp;
                    Seniors({{senior_count}})&nbsp;&nbsp;
                    Teens({{teen_count}})&nbsp;&nbsp;
                    Juniors({{junior_count}})&nbsp;&nbsp;
                    Minis({{mini_count}})&nbsp;&nbsp;
                    JUMPstarts({{jumpstart_count}})&nbsp;&nbsp;
                    Observers({{observer_count}})&nbsp;&nbsp;
                    JS Observers({{observer2_count}})
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px dashed #555555;">&nbsp;</td>
            </tr>
        </table>

        <div style="font-weight:bold;font-family:'Blue Highway D Type',sans-serif;margin-top:20px;font-size:22px;">Workshop Dancers</div>
        <table cellpadding="0" cellspacing="0" style="margin-top:5px;">
            <tr>
                <td style="width: 120px;color:#555555;text-align:left;font-style:italic;vertical-align:top;">Dancers:</td>
                <td style="vertical-align:top;">
                    <table cellpadding="0" cellspacing="0">
                        {{#each workshop_registrants as |dancers dwl|}}
                        <tr>
                            <td style="font-size:11px;font-weight:bold;">
                                {{strReplace "2" "" dwl}}(s)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:11px;">
                                {{#ifCond dwl '!=' "Observer"}}
                                    {{#each dancers}}
                                    {{fname}} {{lname}} {{#if show_scholarship_code}}(#{{scholarship_code}}){{/if}}{{#unless @last}}, {{/unless}}
                                    {{/each}}
                                {{else}}
                                    {{#each ../observers}}
                                    {{fname}} {{lname}}{{#unless @last}}, {{/unless}}
                                    {{/each}}
                                {{/ifCond}}
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        {{/each}}
                    </table>
                </td>
            </tr>
        </table>


    </div>
    {{/ifCond}}
    <!-- END PAGE 2 -->


    <!-- COMP ROUTINES -->
    {{#ifCond competition_routines_count '>' 0}}
    <div style="width:720px;page-break-after:always;">
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td style="vertical-align:top;">
                    <div style="font-size:12px;">
                        <span style="font-family:Regal Box;font-size:60px;color:#FF0000;">JUMP</span>
                        <br/>
                        <div style="font-family:'festus!';font-size:26px;margin:5px 0 10px;line-height:11px;">the alternative convention</div>
                        <span style="font-style:italic;">
                            5546 Satsuma Ave.
                            <br/> North Hollywood, CA 91601
                        </span>
                    </div>
                </td>
                <td style="text-align:right;vertical-align:top;">
                    <div style="margin-top:5px;color:#4D73C4;font-size:35px;font-family:'Blue Highway D Type';">
                        Registration Packet
                    </div>
                </td>
            </tr>
        </table>
        <div style="font-weight:bold;font-family:'Blue Highway D Type',sans-serif;margin-top:20px;font-size:22px;">
            {{studio_name}} Competition Routines
        </div>
        <tr>
            <td style="vertical-align:top;padding-top:0px;">
                <table cellpadding="0" cellspacing="0" style="margin-top:20px;">
                    {{#each competition_routines as |routines comp_group|}}
                        {{#each routines}}
                        <tr>
                            <td style="width: 20px;text-align:left;vertical-align:top;">&nbsp;</td>
                            <td style="width: 40px;">
                                #{{finals_disp_number}}
                            </td>
                            <td style="width:240px;text-align:right;">
                                {{formatDateTime finals_time "h:mm A / dddd (MMMM Do)"}}
                            </td>
                            <td style="padding-left:15px;">
                                {{routine_name}}
                            </td>
                        </tr>
                        {{/each}}
                    {{/each}}
                </table>
            </td>
        </tr>
        </table>
    </div>
    {{/ifCond}}
    <!-- END PAGE 4 -->
{{/each}}
</body>

</html>