<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Competition Schedule</title>
		<style type="text/css">
			@page land {size: landscape;}
			.landscape {page: land;}

			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			#sched_table {
/*  				width: 100%; */
				margin-top:8px;
			}

			#sched_table tr td {
				border-left: 1px solid #000000;
				border-top: 1px solid #000000;
				font-size: 8pt;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
			}

			.tline {
				padding: 1px 0;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div style="width: 952px;">
			<table cellpadding="0" cellspacing="0" style="width: 100%;">
				<tr>
					<td style="vertical-align:top;">
						<div style="font-family:Unplug;font-size:20pt;">{{city_data.city}} {{disp_comp_group}} Competition</div>
						<div style="font-size:16px;font-family:Unplug;">{{city_data.venue_name}}</div>
					</td>
					<td style="vertical-align:top;text-align:right;font-size:14px;font-family:Unplug;">
						{{formatDateTime title_date "MM/DD/YYYY"}}
					</td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" id="sched_table">
				{{#each routines}}
	                {{#ifCond @index '%' ../maxrows}}
	                	<tr>
							<td class="thead" style="width:40px;">#</td>
							<td class="thead" style="width:285px;">Routine Name</td>
							<td class="thead" style="width:70px;">Actual RO</td>
							<td class="thead" style="width:70px;">HDD</td>
							<td class="thead" style="width:70px;">Mix</td>
							<td class="thead" style="width:70px;">Cam</td>
							<td class="thead" style="width:285px;">Notes</td>
							<td class="thead" style="width:60px;border-right:1px solid #000000;">Time</td>
						</tr>
					{{/ifCond}}
						<tr{{#ifCond (inc @index) '%' ../maxrows}}style="page-break-after:always;"{{/ifCond}}>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}text-align:center;">{{dispnumber}}</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;">{{#ifCond routine_category_name "===" "Solo"}} {{solo_dancer}} ({{routine_name}})
                        			{{else}} {{routine_name}} {{/ifCond}}</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;">&nbsp;</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;">&nbsp;</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;">&nbsp;</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;">&nbsp;</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;">
								{{#ifCond perf_division_name '===' "Tap"}} <span style='color:#AA0000;'>TAP</span>{{/ifCond}}
							</td>
							<td class="tline" style="{{#ifCond (inc @index) '%' ../maxrows}}border-bottom:1px solid #000000;{{/ifCond}}padding-left:2px;border-right: 1px solid #000000;">{{formatDateTime ../time "h:mm A"}}</td>
						</tr>
						{{#each ../awards}}
		                {{#ifCond ../date_routine_id "==" date_routine_id}}
		                    {{#ifCond (formatDateTime ../time "YYYY-MM-DD") "==" (formatDateTime date "YYYY-MM-DD")}}
		                        <tr>
		                            <td colspan="8" class="tline" style="{{#if @../last}} border-bottom:1px solid #000000;{{/if}}padding-left:2px; font-weight:bold;border-right:1px solid #000000;">
		                                {{desc}}
		                            </td>
		                        </tr>
		                    {{/ifCond}}
		                {{/ifCond}}
		                {{/each}}
				{{/each}}
			</table>
		</div>
	</body>
</html>