<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 7.9pt;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
			.isboj {
				color: #FF0000 !important;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:850px;margin: 0 auto;">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="vertical-align:top;width:772px;">
						<div style="font-family: 'Script of Sheep';font-size:17pt;margin: 5px 0 0 0;">JUMP {{data.city}} Best In Studio Candidates</div>
						<div style="font-family: 'Script of Sheep';font-size:12pt;">{{capitalizeFirstLetter data.compgroup}} Competition</div>
					</td>
					<td style="vertical-align:bottom;text-align:right;padding-top:25px;"><div style="font-family: 'Script of Sheep';font-size:10pt;">{{formatDateTime data.start_date "MM/DD/YYYY"}}</div></td>
				</tr>
			</table>

							<table cellpadding="0" cellspacing="0" class="rtable" style="margin:0px 0 20px;page-break-after:always;">
								<tr>
									<td class="thead" style="width:45px;">#</td>
									<td class="thead" style="width:225px;">Routine</td>
									<td class="thead" style="width:225px;">Studio</td>
									<td class="thead" style="width:220px;">Category</td>
									<td class="thead" style="width:120px;border-right:1px solid #000000;">Award</td>
								</tr>
					{{#if routines}}
						{{#each routines}}
							<tr>
								<td class="tbody {{#if isboj}} isboj{{/if}}" style="text-align:left;">{{number}}</td>
								<td class="tbody {{#if isboj}} isboj{{/if}}">{{routinename}}</td>
								<td class="tbody {{#if isboj}} isboj{{/if}}">{{studioname}}</td>
								<td class="tbody {{#if isboj}} isboj{{/if}}">{{agedivisionname}} {{perfdivisionname}} {{routinecategoryname}}</td>
								<td class="tbody {{#if isboj}} isboj{{/if}}" style="border-right:1px solid #000000;">{{awardname}} ({{total_score}})</td>
							</tr>
						{{/each}}
					{{/if}}
			</table>
		</div>
	</body>
</html>