<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Mailing Labels</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Nothing+You+Could+Do:400' rel='stylesheet' type='text/css'>
    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
        }

        .sl_table {
            /*margin-top: 50px;*/
        }

        .sl_table tr td {
            width: 360px;
            /*background-color: rgba(100,0,0,0.2);
			border: 1px solid #AA0000;*/
            padding-top: 65px;
        }

        .labelbg {
            background: url(/img/mailing_label_bg.jpg) no-repeat top center;
            height: 260px;
            margin: 0 0 0 0;
            width: 100%;

        }

        .labeltext {
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            padding: 60px 0 0px 65px;
        }
    </style>

</head>

<body>
{{#each contacts}} 
    {{#ifEven @index}}
    <div style="width:720px;padding-top:35px;">
        <table cellpadding="0" cellspacing="0" class="sl_table">
            <tr>
                <td style="vertical-align: top;">
                    <div class="labelbg">
                        <div class="labeltext">
                            {{contact}}
                            <br> {{#ifCond studio_name '!=' '[N/A]'}} {{studio_name}}
                            <br> {{/ifCond}} {{address}}
                            <br> {{city}}, {{state}} {{zip}}
                            <br> {{#ifCond country_name '!=' 'United States'}} {{country_name}} {{/ifCond}}
                        </div>
                    </div>
                </td>
        {{#if @last}}
        </tr>
        </table>
        </div>
        {{/if}} 
    {{else}}
                <td style="vertical-align: top;">
                    <div class="labelbg">
                        <div class="labeltext">
                            {{contact}}
                            <br> {{#ifCond studio_name '!=' '[N/A]'}} {{studio_name}}
                            <br> {{/ifCond}} {{address}}
                            <br> {{city}}, {{state}} {{zip}}
                            <br> {{#ifCond country_name '!=' 'United States'}} {{country_name}} {{/ifCond}}
                        </div>
                    </div>
                </td>
    </tr>
    </table>
    </div>
    {{/ifEven}} 
{{/each}}

</body>

</html>