<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Mailing Labels</title>
    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
            font-family: 'OfficinaSansCTT', Tahoma, sans-serif;
        }

        .sl_table {
            /* 				margin-left:30px; */
        }

        .sl_table tr td {
            padding: 0 0 0 0px;
            width: 340px;
            text-align: left;
        }

        .labelbg {
            background: url(/img/mailing_label_bg.png) no-repeat top center;
            width: 300px;
            height: 149px;
            font-family: 'Blue Highway D Type', Arial, sans-serif;
            font-size: 16px;
            padding-top: 30px;
        }
    </style>
    <script type="text/javascript">
	//		window.print();
    </script>
</head>

<body>
    {{#each contacts}}
    {{#ifEven @index}}
    <div style="width:720px;padding-top:35px;">
        <table cellpadding="0" cellspacing="0" class="sl_table">
            <tr>
                <td style="vertical-align: top;">
                    <span style="font-family:Regal Box;font-size:52px;color:#FF0000;">JUMP</span>
                    <br/>
                    <!-- text-shadow:0 1px 1px rgba(0, 0, 0, 1); -->
                    <div style="font-family:'festus!';font-size:18px;margin-bottom:2px;line-height:16px;">the alternative convention</div>
                    <span style="font-size:10px;line-height:9px;">
                        5446 Satsuma Ave.
                        <br/> North Hollywood, CA 91601
                        <br/> 818.432.4395
                    </span>
                    <div class="labelbg">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width:45px;vertical-align:top;">To:</td>
                                <td style="vertical-align:top;">
                                    {{contact}} <br>
                                    {{#ifCond studio_name '!=' '[N/A]'}}
                                    {{studio_name}} <br>
                                    {{/ifCond}}
                                    {{address}} <br>
                                    {{city}}, {{state}} {{zip}} <br>
                                    {{#ifCond country_name '!=' 'United States'}}
                                    {{country_name}}
                                    {{/ifCond}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
    {{#if @last}}
            </tr>
        </table>
    </div>
    {{/if}}
    {{else}}
                <td style="vertical-align: top;padding-left:90px;">
                    <span style="font-family:Regal Box;font-size:52px;color:#FF0000;">JUMP</span>
                    <br/>
                    <!-- text-shadow:0 1px 1px rgba(0, 0, 0, 1); -->
                    <div style="font-family:'festus!';font-size:18px;margin-bottom:2px;line-height:16px;">the alternative convention</div>
                    <span style="font-size:10px;line-height:9px;">
                        5446 Satsuma Ave.
                        <br/> North Hollywood, CA 91601
                        <br/> 818.432.4395
                    </span>
                    <div class="labelbg">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width:45px;vertical-align:top;">To:</td>
                                <td style="vertical-align:top;">
                                    {{contact}} <br>
                                    {{#ifCond studio_name '!=' '[N/A]'}}
                                    {{studio_name}} <br>
                                    {{/ifCond}}
                                    {{address}} <br>
                                    {{city}}, {{state}} {{zip}} <br>
                                    {{#ifCond country_name '!=' 'United States'}}
                                    {{country_name}}
                                    {{/ifCond}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {{/ifEven}}
{{/each}}

</body>
</html>