<html>
<head>
    <meta charset="UTF-8" />
    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
            font-size: 12px;
        }

        .thead {
            padding: 1px 0;
            background-color: #DDDDDD;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;
        }

        .tbody {
            padding: 2px;
            text-align: left;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
    </style>
</head>

<body>
    <div style="width:720px;">
        <div style="font-family:Unplug;font-size:20px;">
            {{city}} MyBTF Missing Music
        </div>
        <table cellpadding="0" cellspacing="0" style="margin-top:15px;">
            <tr>
                <td class="thead" style="width: 250px;">Studio</td>
                <td class="thead" style="width: 250px;">Routine</td>
                <td class="thead" style="width: 100px">Number</td>
                <td class="thead" style="width: 115px;border-right: 1px solid #000000;">Comp. Group</td>
            </tr>
            {{#eachKeyValue comp_groups missings }}
            <tr>
                <td class="tbody">
                    {{studio_name}}
                </td>
                <td class="tbody">
                    {{routine_name}}
                </td>
                <td class="tbody">
                    #{{disp_number}}
                </td>
                <td class="tbody" style="border-right: 1px solid #000000;">
                    {{@key}}
                </td>
            </tr>
            {{/eachKeyValue}}
        </table>
    </div>
</body>
</html>