<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 10px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>

		<div style="width:705px;margin: 0 auto;">
			<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">TDA {{data.city}} Nominations List [Sorted]</div>
			<div style="font-family:Unplug;font-size:12pt;margin-bottom:30px;">{{data.disp_date}}</div>

	<!-- SOTY -->
	{{#if award_nominations}}
		<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Studio of the Year</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:580px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Nominated Routine Total</td>
				</tr>
		{{#each award_nominations.studios}}
				<tr>
					<td class="tbody">{{studio_name}}as</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{studio_total}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}

	<!-- OTA M -->
	{{#if mini}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Outstanding Technical Achievement (Mini)</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each mini.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}

	<!-- OTA J -->
	{{#if junior}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Outstanding Technical Achievement (Junior)</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each junior.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}


	<!-- OTA T -->
	{{#if teen}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Outstanding Technical Achievement (Teen)</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each teen.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}

	<!-- OTA S -->
	{{#if senior}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Outstanding Technical Achievement (Senior)</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each senior.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}


	<!-- OA CD -->
	{{#if costume_design}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Outstanding Achievement in Costume Design</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each costume_design.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}


	<!-- BC MJ -->
	{{#if choreographer_mj}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Best Choreographer (Mini/Junior)</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each choreographer_mj.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}


	<!-- BC TS -->
	{{#if choreographer_ts}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">Best Choreographer (Teen/Senior)</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each choreographer_mj.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}

<!-- OTA MJ -->
	{{#if people_choice}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">People's Choice Award</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:25px;">
				<tr>
					<td class="thead" style="width:260px;">Routine</td>
					<td class="thead" style="width:260px;">Studio</td>
					<td class="thead" style="width:290px;border-right:1px solid #000000;">Routine Score</td>
				</tr>
		{{#each people_choice.studios}}
				<tr>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody">{{studio_name}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{finals_score}}</td>
				</tr>
		{{/each}}
			</table>
	{{/if}}

		</div>
	</body>
</html>