<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Nominations</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
				font-size: 12px;
				font-family: Tahoma, Arial, sans-serif;
			}
		</style>
	</head>
	<body>
		<div style="width:720px;">
			<img src="../tda_logo.jpg" alt="" style="width: 200px;" />
			<h1>Nominations List</h1>
			<div style="border-bottom: 1px dotted #333;font-size:20px;">Studio of the Year</div>
		{{#each award_nominations.studios}}
			<div style="font-size:18px;font-weight:bold;margin-top:10px;">{{studio_name}}{{#ifCond studio_total '>' 0}} - {{studio_total}}{{/ifCond}}</div>
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="width:350px;">
						<div style="font-size:14px;font-style:italic;margin: 4px;text-decoration:underline;">Mini &amp; Junior</div>
						<div style="margin-left:30px;"> Ballet: {{#ifCond soty_mj_ballet_routineid '>' 0}}{{ballet_mj_name}}#{{dn_ballet_mj}}{{/ifCond}} {{#ifCond ballet_mj '>' 0}}[{{ballet_mj}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Jazz: {{#ifCond soty_mj_jazz_routineid '>' 0}}{{jazz_mj_name}}#{{dn_jazz_mj}}{{/ifCond}} {{#ifCond jazz_mj '>' 0}}[{{jazz_mj}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Musi. Thea. / Specialty: {{#ifCond soty_mj_musicaltheater_routineid '>' 0}}{{musicaltheater_mj_name}}#{{dn_musicaltheater_mj}}{{/ifCond}} {{#ifCond musicaltheater_mj '>' 0}}[{{musicaltheater_mj}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Contemp / Lyrical: {{#ifCond soty_mj_contemplyrical_routineid '>' 0}}{{contemplyrical_mj_name}}#{{dn_contemplyrical_mj}}{{/ifCond}} {{#ifCond contemplyrical_mj '>' 0}}[{{contemplyrical_mj}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Hip Hop / Tap: {{#ifCond soty_mj_hiphoptap_routineid '>' 0}}{{hiphop_mj_name}}#{{dn_hiphop_mj}}{{/ifCond}} {{#ifCond hiphop_mj '>' 0}}[{{hiphop_mj}}]{{/ifCond}}</div>
					</td>
					<td>
						<div style="font-size:14px;font-style:italic;margin: 4px;text-decoration:underline;">Teen &amp; Senior</div>
						<div style="margin-left:30px;"> Ballet: {{#ifCond soty_ts_ballet_routineid '>' 0}}{{ballet_ts_name}}#{{dn_ballet_ts}}{{/ifCond}} {{#ifCond ballet_ts '>' 0}}[{{ballet_ts}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Jazz: {{#ifCond soty_ts_jazz_routineid '>' 0}}{{jazz_ts_name}}#{{dn_jazz_ts}}{{/ifCond}} {{#ifCond jazz_ts '>' 0}}[{{jazz_ts}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Musi. Thea. / Specialty: {{#ifCond soty_ts_musicaltheater_routineid '>' 0}}{{musicaltheater_ts_name}}#{{dn_musicaltheater_ts}}{{/ifCond}} {{#ifCond musicaltheater_ts '>' 0}}[{{musicaltheater_ts}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Contemp / Lyrical: {{#ifCond soty_ts_contemplyrical_routineid '>' 0}}{{contemplyrical_ts_name}}#{{dn_contemplyrical_ts}}{{/ifCond}} {{#ifCond contemplyrical_ts '>' 0}}[{{contemplyrical_ts}}]{{/ifCond}}</div>
						<div style="margin-left:30px;"> Hip Hop / Tap: {{#ifCond soty_ts_hiphoptap_routineid '>' 0}}{{hiphop_ts_name}}#{{dn_hiphop_ts}}{{/ifCond}} {{#ifCond hiphop_ts '>' 0}}[{{hiphop_ts}}]{{/ifCond}}</div>
					</td>
				</tr>
			</table>
		{{/each}}


			<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Outstanding Tech. Ach. (Mini)</div>
<!-- OTA: M -->
			<div style="font-size:18px;font-weight:bold;margin-top:10px;">Mini</div>
			<table cellpadding="0" cellspacing="0">
			{{#each mini.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>
			

			<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Outstanding Tech. Ach. (Junior)</div>
<!-- OTA: J -->
			<div style="font-size:18px;font-weight:bold;margin-top:10px;">Mini</div>
			<table cellpadding="0" cellspacing="0">
			{{#each junior.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>


			<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Outstanding Tech. Ach. (Teen)</div>

			<div style="font-size:18px;font-weight:bold;margin-top:10px;">Teen</div>
			{{#each teen.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>

<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Outstanding Tech. Ach. (Senior)</div>
<!-- OTA: T -->

			<div style="font-size:18px;font-weight:bold;margin-top:10px;">Teen</div>
			<table cellpadding="0" cellspacing="0">
			{{#each senior.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>

			<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Outstanding Ach. Costume Design</div>
<!-- OTA: CD -->

			<table cellpadding="0" cellspacing="0">
			{{#each costume_design.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>

			<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Best Choreographer (Mini / Junior)</div>
<!-- OTA: BC MJ -->
			<div style="font-size:18px;font-weight:bold;margin-top:10px;">Mini / Junior</div>
			<table cellpadding="0" cellspacing="0">
			{{#each choreographer_mj.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>

			<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">Best Choreographer (Teen / Senior)</div>
<!-- OTA: BC TS -->
			<div style="font-size:18px;font-weight:bold;margin-top:10px;">Teen / Senior</div>
			<table cellpadding="0" cellspacing="0">
			{{#each choreographer_ts.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>

<div style="border-bottom: 1px dotted #333;font-size:20px;margin-top:20px;">People's Choice</div>
<!-- PEOPLES CHOICE -->
			<table cellpadding="0" cellspacing="0">
			{{#each people_choice.studios}}
				<tr>
					<td>
						<div style="margin-left:30px;"> {{studio_name}} - {{routinename}} {{#ifCond finals_score '>' 0}} - <span style='font-weight:bold;'>{{finals_score}}</span>{{/ifCond}} <span style='color:#777777;'>#{{#ifCond has_a '==' 1}}{{dispnumber}}.a{{/ifCond}}{{#ifCond has_a '!=' 1}}{{dispnumber}}{{/ifCond}}</span></div>
					</td>
				</tr>
			{{/each}}
			</table>

		</div>
	</body>
</html>