<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Best Dancers (Non-Competing)</title>
    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
            font-size: 12px;
            font-family: Tahoma, Arial, sans-serif;
        }

        .dtable thead tr th {
            background-color: #000000;
            color: #FFFFFF;
            font-family: 'Trajan Pro';
            padding: 6px 0 2px;
            text-align: center;
            font-size: 15px;
            font-weight: normal;
        }

        .dtable tbody tr td {
            border-left: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
            padding: 4px 0;
        }
    </style>
</head>
<body>
    {{#each all_dancers as |dancers adname|}}
        <div style="width:720px;page-break-after:always;">
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td>
                        <img src="/img/tda_logo.jpg" alt="" style="width: 200px;" />
                    </td>
                    <td style="text-align:right;">
                        <div style="font-family:'Trajan Pro';font-size:27px;">NON-COMPETING BEST DANCERS</div>
                        <div style="font-family:'Trajan Pro';font-size:20px;">
                            {{#ifCond adname "==" "mijr"}} Mini / Junior
                            {{else}} Teen / Senior
                            {{/ifCond}}
                        </div>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="width:100%;margin-top:15px;" class="dtable">
                <thead>
                    <tr>
                        <th style="width: 70px;">AUD. #</th>
                        <th style="width:200px;">DANCER</th>
                        <th>STUDIO</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dancers}}
                        <tr>
                            <td style="text-align:center;">
                                {{#ifCond scholarship_code ">" 0}} {{scholarship_code}}
                                {{else}} 0 {{/ifCond}}
                            </td>
                            <td style="padding-left:3px;">
                                {{fname}} {{lname}}
                            </td>
                            <td style="padding-left:3px;border-right: 1px solid #CCCCCC;">
                                {{studio_name}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/each}}
</body>

</html>