<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Online Score Sheets</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
				font-size: 12px;
				font-family: Tahoma, Arial, sans-serif;
			}

			#boxes_holder .judge_box {
				background-color: #EEEEEE;
				border: 2px solid #DDDDDD;
				min-height: 100px;
				margin-top: 10px;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		{{#ifCond count.countOfStudios '>' 0}}
			{{#each studios as |studio skey|}}
				{{#each studio.competition_routines as |routine rkey|}}
				<div style="width:720px;page-break-after:always;">
			<table cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>

					{{#ifCond studio.event_id '==' 7}}
					<td style="text-align:center;vertical-align:top;width:325px;">
						<img src="../../logos/{{studio.event_id}}.png" style="width:325px;height:auto;display:block;margin: 0 auto 5px;" />
					{{/ifCond}}
					{{#ifCond studio.event_id '==' 8}}
					<td style="text-align:center;vertical-align:top;width:325px;">
						<img src="../../logos/{{studio.event_id}}.png" style="width:325px;height:auto;display:block;margin: 0 auto 5px;" />
					{{/ifCond}}
					{{#ifCond studio.event_id '==' 14}}
					<td style="text-align:center;vertical-align:top;width:325px;">
						<img src="../../logos/{{studio.event_id}}.png" style="width:325px;height:auto;display:block;margin: 0 auto 5px;" />
					{{/ifCond}}
					{{#ifCond studio.event_id '==' 18}}
					<td style="text-align:center;vertical-align:top;width:325px;">
						<img src="../../logos/{{studio.event_id}}.png" style="width:325px;height:auto;display:block;margin: 0 auto 5px;" />
					{{/ifCond}}
						<div style="font-weight:bold;font-size:18px;text-transform:uppercase;">{{studio.city}}</div>
						<div style="font-size:16px;">{{studio.display_date}}</div>
					</td>
					<td style="vertical-align:top;padding-top:15px;">
						<div style="font-size:20px;font-weight:bold;text-align:right;padding-bottom:5px;text-transform:uppercase;">
							#{{routine.dispnumber}} - {{routine.routine_name}}
						</div>
						<div style="text-align: right;font-size:16px;">
							{{studio.studio_name}} <span style='color:#555555;font-size:12px;'>[{{studio.studio_code}}]</span>
							<br/>
							{{routine.age_division_name}} &bull; {{routine.performance_division_name}} {{routine.routine_category.category.name}}
						</div>
					</td>
				</tr>
			</table>
			<div id="boxes_holder" style="margin-top:10px;">
				{{#ifCond routine.judges.length '>' 0}}
					{{#each routine.judges}}
				<div class="judge_box">
					<table cellpadding="0" cellspacing="0" style="width:100%;">
						<tr>
							<td style="width:560px;vertical-align:top;">
								<div style="font-size:16px; font-weight: bold;margin-bottom:5px;border-bottom:2px dashed #BBBBBB;padding-bottom:10px;">
									Judge #{{inc @index}}&nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp;{{judge.full_name}}
								</div>
						{{#ifCond judge.attributes.good.length '>' 0}}
								<div style="padding: 5px;">
									<span style="font-weight:bold;">Great Job:</span> 
									{{#each judge.attributes.good}}
									{{#if @last}}
										{{point}} 
									{{/if}}
									{{#unless @last}}
										{{point}}, 
									{{/unless}}
									{{/each}}
								</div>
						{{/ifCond}}
						{{#ifCond judge.attributes.bad.length '>' 0}}
								<div style="padding: 5px;">
									<span style="font-weight:bold;">Needs Work:</span> 
									{{#each judge.attributes.bad}}
									{{#if @last}}
										{{point}} 
									{{/if}}
									{{#unless @last}}
										{{point}}, 
									{{/unless}}
								{{/each}}
								</div>
						{{/ifCond}}
						{{#ifCond judge.note.length '>' 2}}
								<div style="padding: 5px;">
									<span style="font-weight:bold;">Judge's Note:</span> {{judge.note}}
								</div>
						{{/ifCond}}
						{{#ifCond judge.not_friendly '==' 1}}
								<div style="padding: 5px;font-weight:bold;">
									&bull; I didn't think this routine was family friendly.
								</div>
						{{/ifCond}}
						{{#ifCond judge.i_choreographed '==' 1}}
								<div style="padding: 5px;">
									&bull; I choreographed this routine.
								</div>
						{{/ifCond}}
							</td>

							<td style="text-align:center;vertical-align:top;">
								<div style="font-size:24px;">Score:</div>
								<div style="font-size:28px;font-weight:bold;">{{judge.score}}</div>
							</td>
						</tr>
					</table>
				</div>
					{{/each}}
				{{/ifCond}}
								<div id="bottom_box" style="margin-top:20px;text-align:right;font-size:24px;background-color:#EEEEEE;padding:15px 10px;border:1px dashed #999999;">
					<span style="font-weight:bold;">TOTAL SCORE:</span>&nbsp;&nbsp;&nbsp;{{routine.total}}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{routine.awardname}}
				</div>
			</div>
		</div>
				{{/each}}
			{{/each}}
		{{/ifCond}}

	</body>
</html>