<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
        }
        ol {
            padding-left: 15px;
        }
    </style>
    <script type="text/javascript">
			//window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
</head>

<body>
    {{#each [1,2,3]}}
    <p>
        {{@index}}
    </p>
    {{/each}}
    <div style="width:705px;">
        <div style="font-family:Unplug;font-size:20pt;margin: 5px 0 0 0;">
            {{city}} Studio Outstand. Items
        </div>
        <div style="font-family:Unplug;font-size:12pt;margin-bottom:5px;">
            {{venue}} / {{disp_date}}
        </div>
            {{#each studios}}
            <div style="margin:10px 0;font-family:Unplug;font-size:16pt;font-style:italic;color:#3366FF;">
                {{studio_name}}
            </div>
            <div style="font-style:italic;font-family:Verdana,Arial,sans-serif;font-size:12px;padding-bottom:25px;border-bottom:1px dotted #000000;">
                The following items need to be fixed to complete this studio's registration:
                <br/>
                <br/>
                {{#each contacts}}
                    {{#if fname}}
                        Contact {{operator @index "+" 1}}: {{fname}} {{lname}} {{#if type}}({{type}}){{/if}}<br>
                    {{/if}}
                {{/each}}
                <br/> Phone 1: {{#if phone}}{{phone}}{{else}}-{{/if}}
                <br/> Phone 2: {{#if phone2}}{{phone2}}{{else}}-{{/if}}
                <br/> Fax: {{#if fax}}{{fax}}{{else}}-{{/if}}
                <br/> Email: {{#if email}}{{email}}{{else}}-{{/if}}
                <br/>
                <div style="font-style:normal;line-height:18px;padding-left:10px;margin-top:5px;">
                    {{#with dancer_group}}
                        <ol>
                            {{#each waivers}}
                                <li>
                                    Missing participant waiver for {{toUpperCase fname}} {{toUpperCase lname}}.
                                </li>
                            {{/each}}
                            {{#each tbas}}
                                <li>
                                    TBA {{age_division_name}} {{routine_category_name}} {{#if dname}}({{dname}}){{/if}} routine needs a Title.
                                </li>
                            {{/each}}
                            {{#each no_perf_cat}}
                                <li>
                                    Routine {{routine_name}} has no assigned PERFORMANCE CATEGORY (e.g. Jazz, Lyrical, Tap).
                                </li>
                            {{/each}}
                            {{#each no_age_div}}
                                <li>
                                    Routine {{routine_name}} has no assigned AGE DIVISION.
                                </li>
                            {{/each}}
                            {{#each no_birthday}}
                                <li>
                                    {{fname}} {{lname}} has no birth date set.
                                </li>
                            {{/each}}
                            {{#each no_bd_photo}}
                                <li>
                                    {{toUpperCase fname}} {{toUpperCase lname}} has not submitted a photo.
                                </li>
                            {{/each}}
                            {{#each no_bd_jacket_name}}
                                <li>
                                    Best Dancer {{toUpperCase fname}} {{toUpperCase lname}} has not selected a JACKET NAME.
                                </li>
                            {{/each}}
                            {{#each no_bd_jacket_size}}
                                <li>
                                     Best Dancer {{toUpperCase fname}} {{toUpperCase lname}} has not selected a JACKET SIZE
                                </li>
                            {{/each}}
                            {{#ifCond ../balance '>'0}}
                                <li>
                                    {{toUpperCase ../studio_name}} has a BALANCE DUE of $-{{numberFormat ../balance 2}}
                                </li>
                            {{/ifCond}}
                        </ol>
                    {{/with}}
                </div>
            </div>
            {{/each}}
    </div>
</body>
</html>