<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
        }

        .rtable tr td {
            font-size: 10px;
        }

        .thead {
            padding: 1px 0;
            background-color: #DDDDDD;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;
        }

        .tbody {
            padding: 1px 0 1px 2px;
            text-align: left;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>

<body>
    <div style="width:705px;">
        <div style="font-family:Georgia;font-size:20px;">
            {{city}} Studios - (Owes &amp; Balances)</div>
        <span style="font-family:Georgia;font-size:14px;">
            {{venue}} / {{formatDateTime start_date "MMMM DD"}}-{{formatDateTime end_date "DD"}} {{formatDateTime end_date "YYYY"}}
        </span>
        <table cellpadding="0" cellspacing="0" class="rtable" style="margin-top:3px;">
            <tr>
                <td class="thead" style="width:265px;">Studio</td>
                <td class="thead" style="width:100px;">Total Fees</td>
                <td class="thead" style="width:100px;">Fees Paid</td>
                <td class="thead" style="width:90px;">Credit</td>
                <td class="thead" style="border-right: 1px solid #000000;width:95px;">Difference</td>
            </tr>
            {{#each studios}}
                <tr>
                    <td class="tbody">
                        {{#ifCond independent '=='1}}[I]{{/ifCond}} {{studio_name}} {{#ifCond studio_code '>' 0}}({{studio_code}}){{/ifCond}}
                    </td>
                    <td class="tbody">
                        {{total_fees}}
                    </td>
                    <td class="tbody">
                        {{numberFormat fees_paid 2}}
                    </td>
                    <td class="tbody">
                        {{numberFormat credit 2}}
                    </td>
                    <td class="tbody" style="border-right: 1px solid #000000;">
                        {{balance_due}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>