<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{data.city}} {{data.astr2}} List</title>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td {
				font-size: 10px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:705px;">
			<div style="font-family:Unplug;font-size:20px;">{{data.city}} {{data.astr2}} List</div>
			<span style="font-family:Unplug;font-size:14px;">{{data.venue}} / {{data.disp_date}}</span>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-top:3px;">
				<tr>
					<td class="thead" style="width:165px;">Dancer</td>
					<td class="thead" style="width:300px;">Studio</td>
					<td class="thead" style="width:100px;">Day #</td>
					<td class="thead" style="border-right: 1px solid #000000;width:70px;">Age</td>
				</tr>
				{{#ifCond dancers.length '>' 0}}
					{{#each dancers}}
						<tr>
							<td class="tbody">{{dancer.person.fname}} {{dancer.person.lname}}</td>
							<td class="tbody">{{dancer.studio_name}}</td>
							<td class="tbody" style="text-align:center;">
								{{#ifCond dancer.one_day '==' 1}}
									1
								{{/ifCond}}
								{{#ifCond dancer.one_day '!=' 1}}
									2
								{{/ifCond}}
							</td>
							<td class="tbody" style="text-align:center;border-right: 1px solid #000000;">{{dancer.age}}</td>
						</tr>
					{{/each}}
				{{/ifCond}}
			</table>
		</div>
	</body>
</html>