<html>
	<head>
		<style type="text/css">
		body, html {
				font-family: Calibri, "Calibri", sans-serif;
			}
			.rtable tr td {
				font-size: 8px;
				vertical-align: top;
				font-family: Calibri, 'Calibri', sans-serif;
			}
		</style>
	</head>
	<body>
		Select all studios or routines, copy and paste into Word template.  Select what you just pasted, make sure font is "Calibri" and font size is 9.
		<h1>Studios</h1>

		{{#if programInfoData}}
			{{#each programInfoData}}
				<table cellpadding="0" cellspacing="0" class="rtable" style="width:465px;" id="studiotable">
					<tr>
						<td style="padding: 1px 0;font-size: 9px;vertical-align: top;border-bottom:1px solid #777777;text-align:left;">{{studio.name}}</td>
						<td style="font-style:italic;padding: 1px 0;font-size: 9px;vertical-align: top;border-bottom:1px solid #777777;text-align:right;">{{studio.address.city}}, {{studio.address.state.name}}</td>
					</tr>
				</table>
			{{/each}}
		{{/if}}
			<div style="margin-top:30px;"></div>
			<h1>Routines</h1>
			{{#if programInfoData}}
				{{#each programInfoData}}
					{{#each routines}}
						<table cellpadding="0" cellspacing="0" class="rtable" style="width:460px;">
							<tr>
								<td style="font-size:8px;width:20px;text-align:right;font-weight:bold;padding-right:4px;">{{id}}.</td>
								<td style="font-size:8px;font-weight:bold;">{{routine.name}}</td>
								<td style="font-size:8px;text-align:right;text-transform: uppercase;">{{performance_division.name}} {{routine_category.category.name}} ({{age_division.range}})</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td style="font-size:8px;font-weight:bold;font-style:italic;">
									{{../studio.name}} ({{#if ../studio.code}}{{../studio.code}}{{else}}-{{/if}})
								</td>
								<td style="font-size:8px;text-align:right;">
									{{hmtime2}}
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="2" style="font-size:8px;font-style:italic;">
									{{#each dancers}}
										{{#if @last}}
											{{dancer.person.fname}} {{dancer.person.lname}} 
										{{/if}}
										{{#unless @last}}
											{{dancer.person.fname}} {{dancer.person.lname}}, 
										{{/unless}}
									{{/each}}
								</td>
							</tr>
							<tr>
								<td colspan="3">&nbsp;</td>
							</tr>
						</table>
					{{/each}}
				{{/each}}
			{{/if}}
			
	</body>
</html>