<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td {
				font-size: 11px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;

			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:705px;margin: 0 auto;">
			<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">{{data.city}} Scholarship Participants (by name)</div>
			<div style="font-family:Unplug;font-size:12pt;margin-bottom:30px;">{{data.venue}} - {{data.start_date}}</div>
			<table cellpadding="0" cellspacing="0" class="rtable">
				<tr>
					<td class="thead" style="width:90px;">Scholar. ID</td>
					<td class="thead" style="width:280px;">Studio</td>
					<td class="thead" style="width:220px;">Dancer</td>
					<td class="thead" style="width:90px;border-right:1px solid #000000;">Age</td>
				</tr>
			{{#each dancers}}
				<tr>
					<td class="tbody">{{dancer.scholarship_code}}</td>
					<td class="tbody">{{dancer.studioname}}</td>
					<td class="tbody">{{dancer.person.fname}} {{dancer.person.lname}}</td>
					<td class="tbody" style="border-right:1px solid #000000;">{{dancer.person.age}}</td>
				</tr>
			{{/each}}
			</table>
		</div>
	</body>
</html>