<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Scholarship Labels</title>
		<style type="text/css">
			html { margin: 0; padding: 0;}

			body {
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
				font-family: OfficinaSansCTT, Tahoma, sans-serif;
			}

			.sl_table tr td {
/*
				padding: 50px 0 20px 0;
				width: 330px;
				text-align: center;
*/
				height:290px !important;
				overflow:none;
				padding: 40px 0 0 0;
				width: 340px;
				text-align: center;
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
	</head>
	<body>
		{{#each dancers}}
			{{#if @first}}
			<div style="width:720px;height:950px;page-break-after:always;">
				<table cellpadding="0" cellspacing="0" class="sl_table">
					{{/if}}

					{{#times 3}}
					<tr>
    					{{#ifEven @index}}
						<td style="vertical-align: top;">
								<div style="{{#ifCond ../../scholarship_code.length '>' 3}} font-size:110pt{{/ifCond}} {{#ifCond ../../scholarship_code.length '<=' 3}}font-size:130pt{{/ifCond}}">
									{{../../scholarship_code}}
								</div>
								<div style="font-size:15pt;font-style:italic;font-weight:bold;">{{../../dancer.person.fname}} {{../../dancer.person.lname}}</div>
								<div style="font-size:10pt;font-style:italic;">{{../../studio.name}}</div>
						</td>
						<td style="vertical-align: top;padding-left:50px;">
									{{#with (lookup ../../../dancers (inc @index))}}
								<div style="{{#ifCond scholarship_code.length '>' 3}} font-size:110pt{{/ifCond}} {{#ifCond scholarship_code.length '<=' 3}}font-size:130pt{{/ifCond}}">
										{{scholarship_code}}
								</div>
								<div style="font-size:15pt;font-style:italic;font-weight:bold;">{{dancer.person.fname}} {{dancer.person.lname}}</div>
								<div style="font-size:10pt;font-style:italic;">{{studio.name}}</div>
									{{/with}}
						</td>
						{{/ifEven}}
					</tr>
					{{/times}}
					{{#if @last}}
				</table>
			</div>
			{{/if}}
		{{/each}}
	</body>