<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>
		html {
			margin: 0;
			padding: 0;
		}

		body {
			font-family: Tahoma, Arial, Helvetica, sans-serif;
			text-align: left;
			margin: 0;
			padding: 0;
			color: #000000;
		}

		.rtable tr td {
			font-size: 10px;
		}

		.thead {
			padding: 1px 0;
			background-color: #DDDDDD;
			text-align: center;
			font-weight: bold;
			border-left: 1px solid #000000;
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
		}
		.thead:nth-child(1) {
			width: 90px;
		}
		.thead:nth-child(2) {
			width: 280px;
		}
		.thead:nth-child(3) {
			width: 220px;
		}
		.thead:nth-child(4) {
			width: 90px;
			border-right: 1px solid #000000;
		}

		.tbody {
			padding: 1px 0 1px 2px;
			text-align: left;
			border-left: 1px solid #000000;
			border-bottom: 1px solid #000000;
		}
		.tbody:last-child {
			border-right:1px solid #000000;
		}

		.main-header {
			font-family: Unplug;
			font-size: 20pt;
			margin: 25px 0 0 0;
		}

		.main-sub-header {
			font-family: Unplug;
			font-size: 12pt;
			margin-bottom: 30px;
		}

		.wl-header {
			font-family: Crackhouse;
			font-size: 18pt;
			color: #FF0000;
			page-break-before: always;
			margin-top: 10px;
		}
	</style>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
	<div style="width:705px;margin: 0 auto;">
		<div class="main-header">{{city_name}} Scholarship Participants</div>
		<div class="main-sub-header">{{venue_name}} - {{start_date}}</div>
		{{#each dancers as |wlDancers wlKey|}}
			<div class="wl-header">{{wlKey}} ({{wlDancers.length}})</div>
			<table cellpadding="0" cellspacing="0" class="rtable">
				<tr>
					<td class="thead">Scholar. ID</td>
					<td class="thead">Studio</td>
					<td class="thead">Dancer</td>
					<td class="thead">Age</td>
				</tr>
				{{#each wlDancers as |dancer|}}
				<tr>
					<td class="tbody">{{dancer.scholarship_code}}</td>
					<td class="tbody">{{dancer.studio_name}}</td>
					<td class="tbody">{{dancer.fname}} {{dancer.lname}}</td>
					<td class="tbody">{{dancer.age}}</td>
				</tr>
				{{else}}
				<td colspan='4'>You gotta assign scholarship codes first.</td>
				{{/each}}
			</table>
		{{/each}}
	</div>
</body>
</html>