<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Scholarship Labels</title>
		<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Oswald|Roboto:900" rel="stylesheet">
		<style type="text/css">
			html {
				margin: 0;
				padding: 0;
			}

			body {
				text-align: left;
				margin: 0;
				padding: 0;
				color: #000000;
			}

			@page {
				margin: 0.3in !important;
			}

			.page {
				width: 10.25in;
				max-height: 100%;
				padding: 0;
				overflow: hidden;
				position: relative;
				background-size: 10.25in 7.75in;
				background-position: center center;
				box-sizing: border-box;
				page-break-after: always !important;
			}
			.sl_table {
				padding: 0;
				margin: 0;
				border: none;
				border-collapse: collapse;
				box-sizing: border-box;
			}
			.label {
				width: 5in;
				height: 3.5in;
				overflow: hidden;
				padding: 0;
				margin: 0;
				text-align: center;
				vertical-align: middle;
				font-family: 'Archivo Black', sans-serif;
				font-weight: normal;
			}

			.label-inner {
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				display: block;
				position: relative;
			}

			.logo {
				position: absolute;
				top: 0;
				left: .25in;
				margin: 0;
			}
			.logo img {
				display: block;
				position: relative;
				height: 1in;
				width: auto;
				margin: 0;
			}
			.number {
				font-family: 'Roboto';
				font-weight: normal;
				font-size: 1.7in;
				line-height: 1in;
				border-radius: .125in;
				letter-spacing: -.07in;
				text-align: right;
				position: absolute;
				top: 47%;
				left: 50%;
				transform: translate(-50%,-50%);
				color: #000;
/*

				top: 0.125in;
				right: 0.125in;
				border: 0.05in solid #000;
				padding: 0in .235in;

*/
			}
			.age-div {
				font-weight: 900;
				font-size: .5in;
				line-height: .5in;
				text-transform: uppercase;
				letter-spacing: -.025in;
				text-align: right;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				color: #ea148c;
				padding: .125in .25in;
			}
			.first-name {
				font-family: 'Oswald', sans-serif;
				font-weight: bold;
				padding: .25em;
				width: 100%;
				letter-spacing: -.025in;
				text-transform: uppercase;
				text-align: center;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			.short { font-size: 1in; line-height: 1in; }
			.long { font-size: .9in; line-height: .9in; }
			.very-long { font-size: .8in; line-height: .8in; }

			.info {
				font-size: 10pt;
				position: absolute;
/*

				bottom: .25in;
				left: .25in;
				text-align: left;

*/
				top: .25in;
				right: .25in;
				text-align: right;
				color: #fff;
			}
			.label-background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			.label-background img {
				width: 100%;
				height: 100%;
			}

			.Mini {
				color: #7a3da5;
			}
			.Junior {
				color: #f20591;
			}

			.Teen {
				color: #298119;
			}

			.Senior {
				color: #0a66ff;
			}

			.vertical-spacer {
				height: 0.125in;
				font-size: 0;
				line-height: 0;
			}
			.horizontal-spacer {
				width: 0.125in;
				font-size: 0;
				line-height: 0;
			}
			img {
				margin: 0;
			}
			.custom-box {
				position: fixed;
				z-index: 100;
				top: 0;
				right: 0;
				background: #fff;
			}
			.custom-box-inner {
				border: 1px solid #888;
				padding: 1rem;
			}

			.custom-box input {
				display: block;
				width: 100%;
				margin-bottom: 5px;
				border: 1px solid #444;
			}
			@media print {
				.custom-box { display: none; }
			}
		</style>
		<script type="text/javascript">
	//		window.print();
		</script>
	</head>
	<body>
		<div id="custom-box" class="custom-box">
			<div class="custom-box-inner">
				<a id="toggle-hide">Hide</a>
				<h1>Create custom tag</h1>
				<input type="text" id="fname" name="fname" placeholder="First Name">
				<input type="text" id="lname" name="lname" placeholder="Last Name">
				<input type="number" id="age" name="age" placeholder="Age">
				<input type="text" id="studio" name="studio" placeholder="Studio">
				<input type="number" id="num" name="num" placeholder="#">
				<a id="go">GO</a>
			</div>
		</div>
		{{#each dancers}}
			<div class="page" style="background-image: url('https://stats.breakthefloor.com/reports/scholarship_labels_new/images/{{../data.tour}}/{{#toLowerCase dancer.age_div}}{{/toLowerCase}}.jpg');">
			<table cellpadding="0" cellspacing="0" border="0" class="sl_table">
				<tr>
					<td class="vertical-spacer" colspan="4">&nbsp;</td>
				</tr>
				{{#times_with_value 2}}
				<tr>
					<td class="horizontal-spacer">&nbsp;</td>
					{{#times 2}}
					<td class="label">
						<div class="label-inner">
							<div class="logo">
								<img src="http://breakthefloor.com/images/logos-white/{{../../../data.tour}}.png" />
							</div>
							<div class="number">{{../../scholarship_code}}</div>
							<div class="first-name {{../../dancer.person.f_length}}">{{../../dancer.person.fname}}</div>
							<div class="info">
								<div>{{../../dancer.age_div}} ({{../../dancer.age}})</div>
								<div>{{../../dancer.person.fname}} {{../../dancer.person.lname}}</div>
								<div>{{../../studio.name}}</div>
							</div>
							<!-- <div class="age-div <?php print($dancers[$i]["age_div"]); ?>"><?php print($dancers[$i]["age_div"]); ?></div> -->
						</div>
					</td>
					{{/times}}
					<td class="horizontal-spacer">&nbsp;</td>
				</tr>
				{{#ifCond this '==' 0}}
					<tr>
						<td class="vertical-spacer" style="height: 0.5in;" colspan="4">&nbsp;</td>
					</tr>
				{{/ifCond}}

				{{/times_with_value}}
<!--
				<tr>
					<td class="vertical-spacer" style="height: 0.in;" colspan="4">&nbsp;</td>
				</tr>
-->
			</table>
		</div>
		{{/each}}
		
		<script>
			var tourdateid = {{data.tourdateid}};
			var eventid = {{data.eventid}};
			var hidden = false;

			document.getElementById("go").onclick = function () {
				var fname = document.getElementById("fname").value;
				var lname = document.getElementById("lname").value;
				var age = document.getElementById("age").value;
				var studio = document.getElementById("studio").value;
				var num = document.getElementById("num").value;

				var link = "/scholarship-labels-new/custom/?fname="+fname+"&lname="+lname+"&age="+age+"&studio="+studio+"&num="+num+"&eventid="+eventid+"&tourdateid="+tourdateid;
		        location.href = link;
		    };

		    document.getElementById("toggle-hide").onclick = function () {
			    hidden = !hidden;
			    var customBox = document.getElementById("custom-box");
			    var toggle = document.getElementById("toggle-hide");

			    if (hidden) {
			    	customBox.style.right = '-200px';
			    	customBox.style.opacity = '0.5';
			    	toggle.innerHTML = 'Show';
			    } else {
				    customBox.style.right = '0';
				    customBox.style.opacity = '1';
				    toggle.innerHTML = 'Hide';
			    }
		    };
		</script>
	</body>