<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        html { margin: 0; padding: 0;}

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
        }

        .rtable tr td {
            font-size: 13px;
            width:100px;
        }

        .thead {
            padding: 1px 0;
            background-color:#DDDDDD;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;
        }

        .tbody {
            padding: 2px 0 2px 2px;
            text-align: left;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
        #dance_type_heads {
            margin-top: 30px;
            font-size: 16pt;
        }
        #dance_type_heads tr td {
            text-align: center;
            font-size: 14pt;
            border-top: 1px solid #000000;
        }
        .code_column {
            float:left;
            width:50px;
            font-size:12pt;
            text-align:center;
        }
        .codes_container {
            margin: 30px 0px 30px 0px;
            height: auto;
            line-height: 30px;
        }
        /*@media print { */
            #dance_type_heads{
                page-break-after: always;
            }

            #dance_type_heads td {
                height: 220px;
                vertical-align: top;
                border-right:1px solid black;
                width:200px;
            }

            #dance_type_heads tr td:nth-child(4) {
                border-right: none !important;
            }
    /* } */
    </style>
    <script type="text/javascript">
    //	window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
    <div style="width:952px;margin: 10px auto 0;">

        <!-- MINIS -->
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td><div style="font-size:20pt;">Mini</div></td>
            </tr>
        </table>
        <div class="codes_container">
            {{#each minis as |val key|}}
            {{#ifCond key '==' 0}}
                <div class="code_column">
            {{/ifCond}}
            {{#if (and (mdz key ../minis_rows) (ne key 0))}}
                </div><div class="code_column">
            {{/if}}
            {{val}}
            <br>
            {{#ifCond key '==' (sub ../minis_size 1)}}
            </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div style="clear:both;"></div>
        <table id="dance_type_heads"  cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
            <tr>
                <td>Ballet</td>
                <td>Tap</td>
                <td>Hip Hop</td>
                <td>Jazz</td>
            </tr>
            <tr>
                <td>Musical Theatre</td>
                <td>Ballroom</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <!-- JUNIORS -->
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td><div style="font-size:20pt;">Junior</div></td>
            </tr>
        </table>
        <div class="codes_container">
            {{#each juniors as |val key|}}
            {{#ifCond key '==' 0}}
                <div class="code_column">
            {{/ifCond}}
            {{#if (and (mdz key ../juniors_rows) (ne key 0))}}
                </div><div class="code_column">
            {{/if}}
            {{val}}
            <br>
            {{#ifCond key '==' (sub ../juniors_size 1)}}
            </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div style="clear:both;"></div>
        <table id="dance_type_heads" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td>Ballet</td>
                <td>Tap</td>
                <td>Hip Hop</td>
                <td>Jazz</td>
            </tr>
            <tr>
                <td>Musical Theatre</td>
                <td>Ballroom</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <!-- TEENS -->
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td><div style="font-size:20pt;">Teen</div></td>
            </tr>
        </table>
        <div class="codes_container">
            {{#each teens as |val key|}}
            {{#ifCond key '==' 0}}
                <div class="code_column">
            {{/ifCond}}
            {{#if (and (mdz key ../teens_rows) (ne key 0))}}
                </div><div class="code_column">
            {{/if}}
            {{val}}
            <br>
            {{#ifCond key '==' (sub ../teens_size 1)}}
            </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div style="clear:both;"></div>
        <table id="dance_type_heads" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td>Ballet</td>
                <td>Tap</td>
                <td>Hip Hop</td>
                <td>Jazz</td>
            </tr>
            <tr>
                <td>Musical Theatre</td>
                <td>Ballroom</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <!-- SENIORS -->

        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td><div style="font-size:20pt;">Senior</div></td>
            </tr>
        </table>
        <div class="codes_container">
            {{#each seniors as |val key|}}
            {{#ifCond key '==' 0}}
                <div class="code_column">
            {{/ifCond}}
            {{#if (and (mdz key ../seniors_rows) (ne key 0))}}
                </div><div class="code_column">
            {{/if}}
            {{val}}
            <br>
            {{#ifCond key '==' (sub ../seniors_size 1)}}
            </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div style="clear:both;"></div>
        <table id="dance_type_heads" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td>Ballet</td>
                <td>Tap</td>
                <td>Hip Hop</td>
                <td>Jazz</td>
            </tr>
            <tr>
                <td>Musical Theatre</td>
                <td>Ballroom</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

    </div>
</body>
</html>