<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        html { margin: 0; padding: 0;}

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
        }

        .rtable tr td {
            font-size: 11px;
            text-transform: uppercase;
        }
            .rtable tr:nth-child(odd) {
                background-color: #EEEEEE;
            }

        .thead {
            padding: 1px 0;
            background-color:#DDDDDD;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;
        }

        .tbody {
            padding: 2px 0 2px 2px;
            text-align: left;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
    </style>
    <script type="text/javascript">
    //	window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
    <div style="width:952px;margin: 10px auto 0;">
        <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td><div style="font-size:20pt;font-family:Unplug;">
                    {{#ifCond eventid '==' 7}}{{city}} VIP List{{/ifCond}}
                    {{#ifCond eventid '==' 8}}{{city}} Breakout List{{/ifCond}}
                    {{#ifCond eventid '==' 14}}{{city}} Best Dancer List{{/ifCond}}
                </div></td>
                <td style="vertical-align:top;padding-right:75px;"><div style="text-align:right;font-size:10pt;font-family:Unplug;">{{formatDateTime start_date "M/D/Y"}}</div></td>
            </tr>
        </table>
        <div style="font-size:12pt;font-family:Unplug;">{{venue}}</div>

        {{#each scholarships as |scholarship scholarshipName|}}
        {{#each scholarship.dancers}}
        {{#if @first}}
        <div style="font-family:Unplug;color:#3366FF;margin: 20px 0 7px 0;font-style:italic;font-weight:bold;font-size:18px;">{{scholarshipName}}</div>

        <table cellpadding="0" cellspacing="0" class="rtable">
            <tr>
                <td class="thead" style="width:350px;">Studio</td>
                <td class="thead" style="width:290px;">Dancer</td>
                <td class="thead" style="width:230px;border-right:1px solid #000000;">Code</td>
            </tr>
        {{/if}}
            <tr>
                <td class="tbody">{{studio_name}}</td>
                <td class="tbody">{{fname}} {{lname}} ({{scholarship_code}})</td>
                <td class="tbody" style="border-right:1px solid #000000;">{{code}}</td>
            </tr>
        {{#if @last}}
        </table>
        {{/if}}
        {{/each}}
        {{/each}}
    </div>
</body>
</html>