<!DOCTYPE html>
<html >
<head>
    <style>
        html { margin: 0; padding: 0;}

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
        }

        .rtable tr td{
            font-size: 11px;
        }

        .rtable {
            width:850px;
        }

        .rtable tbody tr td {
            font-size: 10pt;
            padding: 2px;
        }

        thead {
            padding: 1px 0;
            background-color:#DDDDDD;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;
        }

        tbody {
            padding: 1px 0 1px 2px;
            text-align: left;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
    </style>
    <script type="text/javascript">
    //	window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
    <div style="width:850px;margin: 0 auto;">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="vertical-align:top;width:772px;">
                    <div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">{{city}} Well Rounded Studios</div>
                    <div style="font-family:Unplug;font-size:12pt;">{{venue}}</div>
                </td>
                <td style="vertical-align:top;text-align:right;padding-top:25px;"><div style="font-family:Unplug;font-size:12pt;">{{formatDateTime start_date "M/D/Y"}}</div></td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:30px;margin-top:20px">
            <thead>
                <td style="width:200px;border-right:1px solid #000000;font-size:10pt">Studio</td>
                <td style="width:200px;border-right:1px solid #000000;font-size:10pt">Number of Divisions</td>
                <td style="width:200px;border-right:1px solid #000000;font-size:10pt">Performance Divisions</td>
            </thead>
            <tbody>
            {{#each studios as |studio|}}
                <tr>
                    <td>{{studio_name}}</td>
                    <td style="text-align:center;">{{count}}</td>
                    <td>{{#each divisions}}{{this}}{{#unless @last}},{{/unless}}{{/each}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>