<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 11px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>

		<div style="width:850px;margin: 0 auto;">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="vertical-align:top;width:772px;">
						<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">{{city}} Studio Awards</div>
						<div style="font-family:Unplug;font-size:12pt;">{{venue}}</div>
					</td>
					<td style="vertical-align:top;text-align:right;padding-top:25px;"><div style="font-family:Unplug;font-size:12pt;">{{formatDateTime start_date "M/D/Y"}}</div></td>
				</tr>
			</table>
            {{#each sa_data as |groups key|}}
            {{#each groups}}
                {{#if @first}}
                <div style="margin:25px 0 7px;font-family:Unplug;font-size:16pt;font-style:italic;color:#3366FF;">
                    {{key}}
                </div>
                <table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:30px;">
                    <tr>
                        <td class="thead" style="width:850px;border-right:1px solid #000000;">Studio</td>
                    </tr>
                {{/if}}
                    <tr>
                        <td class="tbody" style="border-right:1px solid #000000;">{{strReplace "&amp;" "&" studio_name}}</td>
                    </tr>
                {{#if @last}}
                </table>
                {{/if}}
            {{/each}}
            {{/each}}
		</div>
	</body>
</html>