<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            text-align: left;
            margin: 0;
            padding: 0;
            color: #000000;
        }

        .rtable tr td {
            font-size: 10px;
        }

        .thead {
            padding: 1px 0;
            background-color: #DDDDDD;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
            border-top: 1px solid #000000;
        }

        .tbody {
            padding: 1px 0 1px 2px;
            text-align: left;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
    </style>
    <script type="text/javascript">
		//	window.print();
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>

<body>
    <div style="width:705px;">
        <div style="font-family:Georgia;font-size:20px;">
            {{city}} Studios
            <span style="font-family:Georgia;font-size:14px;">(

                {{start}}-{{end}} paying dancers)</span>
        </div>
        <span style="font-family:Georgia;font-size:14px;">
            {{venue}} / {{disp_date}}
        </span>
        <table cellpadding="0" cellspacing="0" class="rtable" style="margin-top:3px;">
            <tr>
                <td class="thead" style="width:235px;">Studio</td>
                <td class="thead" style="width:120px;">Contact</td>
                <td class="thead" style="width:55px;">Indep.</td>
                <td class="thead" style="width:90px;">Dancer Count</td>
                <td class="thead" style="border-right: 1px solid #000000;width:190px;">Breakdown</td>
            </tr>
            {{#each studios}}
                <tr>
                    <td class="tbody">
                        {{studio_name}} ({{studio_code}})
                    </td>
                    <td class="tbody">
                        {{contact}}
                    </td>
                    <td class="tbody">
                        {{independent}}
                    </td>
                    <td class="tbody">
                        {{sum_dancers}}
                    </td>
                    <td class="tbody" style="border-right: 1px solid #000000;">
                        Sr({{senior_count}}) Tn({{teen_count}}) Jr({{junior_count}}) Mi({{mini_count}})
                        {{#ifCond ../eventid '=='7}} Js({{jumpstart_count}}) {{/ifCond}}
                        {{#ifCond ../eventid '==' 8}} Nu({{nubie_count}}) {{/ifCond}}
						{{#ifCond ../eventid '==' 14}} PW({{peewee_count}}) {{/ifCond}}
                        {{#ifCond ../eventid '==' 18}} SK({{sidekick_count}}) {{/ifCond}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>