<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 10px;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>

		<div style="width:705px;margin: 0 auto;">
			<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">TDA {{data.city}} Special Award Winners</div>
			<div style="font-family:Unplug;font-size:12pt;margin-bottom:30px;">{{data.venue}} - {{data.dispdate}}</div>

	<!-- SOTY -->
	{{#if award_data}}
		{{#each award_data as |winners specialaward|}}
			<div style="font-family:Crackhouse;font-size:18pt;color:#FF0000;">{{specialawardname}}</div>
			<table cellpadding="0" cellspacing="0" class="rtable" style="margin-bottom:30px;">
				<tr>
					<td class="thead" style="width:385px;">Routine Name</td>
					<td class="thead" style="width:385px;">Studio Name</td>
					<td class="thead" style="width:100px;border-right:1px solid #000000;">Finals #</td>
				</tr>
			{{#each winners as |arow|}}
				{{#each arow}}
				<tr>
					<td class="tbody">{{studioname}}</td>
					<td class="tbody">{{routinename}}</td>
					<td class="tbody" style="border-right:1px solid #000000;text-align:center;font-weight:bold;">{{#if has_a}}{{dispnumber}}.a{{else}}{{dispnumber}}{{/if}}</td>
				</tr>
				{{/each}}
			{{/each}}
			</table>
		{{/each}}
	{{/if}}
		</div>
	</body>
</html>