<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.rtable tr td{
				font-size: 7.9pt;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
				border-top: 1px solid #000000;
			}

			.tbody {
				padding: 1px 0 1px 2px;
				text-align: left;
				border-left: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
		</style>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<div style="width:850px;margin: 0 auto;">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="vertical-align:top;width:772px;">
						<div style="font-family:Unplug;font-size:20pt;margin: 25px 0 0 0;">
							{{data.city}} Placement Awards
							<br/>
							<span style="font-size:14pt;">(By Performance Division) Indiv.</span>
						</div>
						<div style="font-family:Unplug;font-size:12pt;">{{capitalizeFirstLetter data.compgroup}} Competition</div>
					</td>
					<td style="vertical-align:top;text-align:right;padding-top:25px;"><div style="font-family:Unplug;font-size:12pt;">{{formatDateTime data.start_date "MM/DD/YYYY"}}</div></td>
				</tr>
			</table>
			{{#if awards}}
				{{#each awards as |agedivision perfdivisions|}}
					{{#if agedivision}}
						{{#each agedivision as |routines pdname|}}
							<div style="margin:10px 0 3px;font-family:Unplug;font-size:16pt;font-style:italic;color:#3366FF;">
									{{performance_division_name}} : {{agedivisionname}}
								</div>
								<table cellpadding="0" cellspacing="0" class="rtable" style="margin:0px 0 20px;">
									<tr>
										<td class="thead" style="width:100px;">Place</td>
										<td class="thead" style="width:140px;">Award</td>
										<td class="thead" style="width:85px;">Cash</td>
										<td class="thead" style="width:300px;">Routine/Dancer</td>
										<td class="thead" style="width:250px;border-right:1px solid #000000;">Studio</td>
									</tr>
								{{#each routines as |routine|}}
									{{#each routine}}
										<tr>
											<td class="tbody" style="text-align:center;">{{place}}</td>
											<td class="tbody" style="text-align:center;">{{awardname}} {{#if dropped_score2}}({{total_score}} : {{dropped_score}} / {{dropped_score2}}){{else}}({{total_score}} : {{dropped_score}}){{/if}}</td>
											<td class="tbody" style="text-align:center;">{{cash}}</td>
											<td class="tbody">{{routine_name}} {{#if dancers.dancer.person.fname}}({{dancers.dancer.person.fname}} {{dancers.dancer.person.lname}}){{/if}}</td>
											<td class="tbody" style="border-right:1px solid #000000;">{{studio.name}}</td>
										</tr>
									{{/each}}
								{{/each}}
								</table>
						{{/each}}
					{{/if}}
				{{/each}}
			{{/if}}
		</div>
	</body>
</html>