<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script type="text/javascript">
		//	window.print();
		</script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>TDA Round 2</title>
		<style type="text/css">
			@page land {size: landscape;}
			.landscape {page: land;}

			html { margin: 0; padding: 0;}

			body {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				text-align: left;
				margin: 0; padding: 0;
				color: #000000;
			}

			.sched_table {
/*  				width: 100%; */
				margin-top:8px;
			}

			.sched_table tr td {
				border-left: 1px solid #000000;
				font-size: 8pt;
			}

			.thead {
				padding: 1px 0;
				background-color:#DDDDDD;
				text-align: center;
				font-weight: bold;
			}

			.tline {
				padding: 1px 0;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div style="width: 952px;">
			<table cellpadding="0" cellspacing="0" style="width: 100%;">
				<tr>
					<td style="vertical-align:top;">
						<div style="font-family:'Trajan Pro';font-size:20pt;">{{#ifCond data.eventid '==' 14}} TDA Best Dancers {{else}} 24SEVEN Non-Stop Dancers{{/ifCond}} : Round 2 (Solo + Audition)</div>
						<div style="font-size:16px;font-family:Unplug;">{{data.venue_name}}</div>
					</td>
					<td style="vertical-align:top;text-align:right;font-size:14px;font-family:Unplug;">
						{{data.title_date}}
					</td>
				</tr>
			</table>
			{{#each topRound2Data.data as |cggenders agediv|}}
				{{#each cggenders as |routines cggender|}}
					<div style="color:#AA0000;font-size:17px;font-style:italic;margin-top:15px;">{{age_division}} &bull; {{gender_name}}</div>
					<table cellpadding="0" cellspacing="0" class="sched_table">
						<tr>
							<td class="thead" style="border-top:1px solid #000000;border-bottom:1px solid #000000;width:80px;">Place</td>
							<td class="thead" style="border-top:1px solid #000000;border-bottom:1px solid #000000;width:200px;">Round 2 Score</td>
							<td class="thead" style="border-top:1px solid #000000;border-bottom:1px solid #000000;width:330px;">Studio</td>
							<td class="thead" style="border-top:1px solid #000000;border-bottom:1px solid #000000;width:350px;border-right:1px solid #000000;">Dancer</td>
						</tr>
						{{#each routines as |routine|}}
							{{#each routine}}
								<tr>
									<td class="tline" style="border-bottom:1px solid #000000;text-align:center;">{{place}}</td>
									<td class="tline" style="border-bottom:1px solid #000000;text-align: center;">{{perc_round2}}%</td>
									<td class="tline" style="border-bottom:1px solid #000000;padding-left:2px;">{{studio_name}}</td>
									<td class="tline" style="border-bottom:1px solid #000000;border-right:1px solid #000000;padding-left:2px;">{{fname}} {{lname}}</td>
								</tr>
							{{/each}}
						{{/each}}
					</table>
				{{/each}}
			{{/each}}
		</div>
	</body>
</html>