<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    body {
      font-family: Verdana, Arial, sans-serif;
      font-size: 11px;
      padding: 0;
      margin: 0;
    }

    table {

    }

    table tr th {
      padding: 0px 0px 2px 0;
      border-bottom: 1px dotted #000000;
      font-size: 11px;
      font-style: italic;
    }

    table tr td {
      padding: 0 0 2px 0;
      font-size: 11px;
    }

    .heading {
      font-style: italic;
      font-weight: bold;
      font-family: Georgia,serif;
    }

  </style>
</head>
<body>
<div style="width: 650px;margin: 0 auto;">
  <table cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
      <td><img src="http://www.mybreakthefloor.com/images/logos/email/{{registration.tour_date.event.id}}.jpg" alt="" /></td>
    </tr>
    <tr><td colspan="2" style="padding-top:15px;">Dear {{registration.mybtf_user.person.fname}},<br/><br/>Thank you for registering for the <span style="font-weight:bold;">{{registration.tour_date.event.name}} Tour!</span> I am so glad you will be joining us!</td></tr>
    <tr>
      <td colspan="2" style="font-weight:bold;">
        <br/>{{registration.tour_date.event_city.name}}, {{registration.tour_date.event_city.state.abbr}}
        <br/>{{registration.tour_date.display_date}}
        <br/>{{registration.tour_date.venue.name}}
        <br/>
        <br/>{{registration.studio.name}} Registration Summary
      </td>
    </tr>
  </table>

  <div style="margin-top:15px;">
    <div class="heading">WORKSHOP REGISTRANTS ({{count.total}})</div>
    <div>Teachers ({{count.Teachers}}), Seniors ({{count.Seniors}}), Teens ({{count.Teens}}), Juniors ({{count.Juniors}}), Minis ({{count.Minis}}), JUMPstarts ({{dynamicKey count youngsters}}), Observers ({{count.Observer}}), {{singular youngsters}} Observers ({{count.Observer2}})</div>
    <div style="margin:10px 0;font-weight:bold;font-style:italic;color:#FF0000;">ALL AGES ARE AS OF JANUARY 1, {{registration.tour_date.event.age_as_of_year}}</div>
  </div>
  <table cellpadding="0" cellspacing="0">
    <thead>
      <th style="text-align:left;width:170px;">Name</th><th style="width:100px;text-align:center;">Birthdate</th><th style="width:90px;text-align:center;">Age</th><th style="width:110px;text-align:left;">Workshop Level</th><th style="text-align:right;width:170px;">Fee</th>
    </thead>
    <tbody>
      {{#each registration.teachers}}
      <tr>
        <td>{{teacher.person.fname}} {{teacher.person.lname}}</td>
        <td style="text-align:center;">{{teacher.person.birthdate}}</td>
        <td style="text-align:center;">{{teacher.person.age}}</td>
        <td style="font-weight:bold;">{{workshop_level.level.name}}</td>
        <td style="text-align:right;">
          {{#ifCond one_day '===' 1}}
          <span style='font-size:10px;font-style:italic;'>(One Day) </span>&nbsp;&nbsp;
          {{/ifCond}}

          {{#ifCond attended_reg '===' 1}}
          <span style='font-size:10px;font-style:italic;'>(-100%)  </span>&nbsp;&nbsp;
          {{/ifCond}}
          ${{fees.workshop}}
        </td>
      </tr>
      {{/each}}

      {{#each registration.dancers}}
      <tr>
        <td>{{dancer.person.fname}} {{dancer.person.lname}}</td>
        <td style="text-align:center;">{{dancer.person.birthdate}}</td>
        <td style="text-align:center;">{{dancer.person.age}}</td>
        <td style="font-weight:bold;">{{workshop_level.level.name}}</td>
        <td style="text-align:right;">
          {{#ifCond has_scholarship '===' 1}}
          <span style='font-size:10px;font-style:italic;'>(Scholarship)  </span>&nbsp;&nbsp;
          {{/ifCond}}

          {{#ifCond one_day '===' 1}}
          <span style='font-size:10px;font-style:italic;'>(One Day) </span>&nbsp;&nbsp;
          {{/ifCond}}

          {{#ifCond attended_reg '===' 1}}
          <span style='font-size:10px;font-style:italic;'>(-50%)  </span>&nbsp;&nbsp;
          {{/ifCond}}
          ${{fees.workshop}}
        </td>
      </tr>
      {{/each}}

      {{#each registration.observers}}
      <tr>
        <td>{{observer.person.fname}} {{observer.person.lname}}</td>
        <td style="text-align:center;"></td>
        <td style="text-align:center;"></td>
        <td style="font-weight:bold;">{{observerType workshop_level.level.name ../youngsters}}</td>
        <td style="text-align:right;">
          ${{fees.workshop}}
        </td>
      </tr>
      {{/each}}
      <tr>
        <td style="font-style:italic;">Additional Observers x {{registration.additional_observers.one}}</td>
        <td style="text-align:center;">-</td>
        <td style="text-align:center;">-</td>
        <td style="font-weight:bold;">Observer</td>
        <td style="text-align:right;">${{registration.fees.observer.one}}</td>
      </tr>
      <tr>
        <td style="font-style:italic;">Additional {{singular youngsters}} Observer x {{registration.additional_observers.two}}</td>
        <td style="text-align:center;">-</td>
        <td style="text-align:center;">-</td>
        <td style="font-weight:bold;">{{singular youngsters}} Observer</td>
        <td style="text-align:right;">${{registration.fees.observer.two}}</td>
      </tr>
      <tr><td colspan="5">&nbsp;</td></tr>
      <tr>
        <td colspan="5" style="text-align:right;">
          {{#ifCond registration.free_teacher.count '>' 0}}
          <div class="heading">Subtotal</div>
          <div>${{operator registration.fees.workshop '+' registration.free_teacher.value}}</div><br/>

          <div>{{registration.free_teacher.count}} Free {{singularOrPlural 'Teacher' 'Teachers' registration.free_teacher.count}} (${{registration.free_teacher.value}})</div><br/>
          {{/ifCond}}
          <div class="heading">Workshop Subtotal</div>
          <div>${{registration.fees.workshop}}</div>
        </td>
      </tr>
    </tbody>
  </table>


  <div style="margin:15px 0 5px;">
    <div class="heading">COMPETITION ROUTINES ({{count.routines}})</div>
  </div>
  <table cellpadding="0" cellspacing="0">
    <thead>
      <th style="text-align:left;width:240px;">Routine Name</th><th style="text-align:left;width:85px;">Age Division</th><th style="text-align:left;width:85px;">Category</th><th style="text-align:left;width:85px;">Perf. Division</th><th style="text-align:left;width:40px;">On/Off Stage</th><th style="text-align:left;width:40px;">Has Prop?</th><th style="text-align:right;width:65px;">Fee</th>
    </thead>
    <tbody>
      {{#each registration.routines}}
      <tr>
        <td>{{routine.name}}</td>
        <td>{{age_division.level.name}}</td>
        <td>{{routine_category.category.name}}</td>
        <td>{{performance_division.name}}</td>
        <td>{{boolean on_stage 'On' 'Off'}}</td>
        <td>{{boolean has_prop 'Yes' 'No'}}</td>
        <td style="text-align:right;">
          ${{fee}}
        </td>
      </tr>

      <tr><td colspan="7" style="padding-bottom:10px;font-style:italic;vertical-align:top;">
        {{joinRoutineDancers dancers}}
        {{#ifCond time.extra '>' 0}}
        <div style="font-style:italic;font-size:11px;font-weight:bold;">Extra Time - {{time.extra}} min(s)</div>
        {{/ifCond}}
      </td></tr>
      {{/each}}

      {{#ifCond count.routines '===' 0}}
      <tr><td colspan="7">You did not register any routines.</td></tr>
      {{/ifCond}}
      <tr><td colspan="7">&nbsp;</td></tr>
      <tr>
        <td colspan="7" style="text-align:right;"><div class="heading">Competition Subtotal</div><div>${{registration.fees.competition}}</div></td>
      </tr>
      <tr><td colspan="7">&nbsp;</td></tr>

      <tr>
        <td colspan="7" style="text-align:right;">
          <div class="heading" style="color:#000000;">Registration Subtotal</div>
          <div>${{registration.fees.total}}</div>
        </td>
      </tr>
      <tr><td colspan="7">&nbsp;</td></tr>

      {{#ifCond registration.credit.amount '>' 0}}
      <tr>
        <td colspan="7" style="text-align:right;"><div class="heading" style="color:#FF0000;">Credit</div><div>${{registration.credit.amount}} {{registration.credit.from}}</div></td>
      </tr>
      <tr><td colspan="7">&nbsp;</td></tr>
      {{/ifCond}}
      <tr>
        <td colspan="7" style="text-align:right;"><div class="heading" style="color:#FF0000;">Grand Total</div><div>${{operator registration.fees.total '-' registration.credit.amount}}</div></td>
      </tr>
      <tr><td colspan="7">&nbsp;</td></tr>
    </tbody>
  </table>

  <div style="font-style:italic;">
    {{#ifCond registration.tour_date.event.id '===' 7}}
    * This registration confirmation is based upon approval of your credit card or receipt of your check by Break The Floor Productions. It is also based on availability. If the event is full, BTFP will contact you ASAP and your credit card will not be charged or your check will not be cashed.
    <br/><br/>
    * IF YOU ARE PAYING BY CHECK, PLEASE REMEMBER: You are not registered until we receive the check and confirm the registration. Also, the early registration discount is not determined by the date of online registration, it is determined by the date JUMP receives the check. JUMP does not accept checks within 30 days of an event.
    <br/><br/>
    * Changes to your registration cannot be made online.  Please email all changes to info@jumptour.com.
    <br/><br/>
    * If you have any questions please feel free to contact us at any time. We will be in touch periodically, by email, to give you updates and scheduling information. Thanks so much for choosing to participate! I know you are going to have a great time. See you soon!
    {{/ifCond}}
    {{#ifCond registration.tour_date.event.id '===' 8}}
    * This registration confirmation is based upon approval of your credit card or receipt of your check by NUVO Dance Convention. It is also based on availability. If the event is full, NUVO will contact you ASAP and your credit card will not be charged or your check will not be cashed.
    <br/><br/>			 -->
    * IF YOU ARE PAYING BY CHECK, PLEASE REMEMBER: You are not registered until we receive the check and confirm the registration. Also, the early registration discount is not determined by the date of online registration, it is determined by the date NUVO receives the check. NUVO does not accept checks within 30 days of an event.
    <br/><br/>
    * Changes to your registration cannot be made online.  Please email all changes to stephanie@gonuvo.com.
    <br/><br/>
    * If you have any questions please feel free to contact us at any time. We will be in touch periodically, by email, to give you updates and scheduling information. Thanks so much for choosing to participate! I know you are going to have a great time. See you soon!
    {{/ifCond}}
    {{#ifCond registration.tour_date.event.id '===' 18}}
    * This registration confirmation is based upon approval of your credit card or receipt of your check by 24 SEVEN. It is also based on availability. If the event is full, 24 SEVEN will contact you ASAP and your credit card will not be charged or your check will not be cashed.
    <br/><br/>
    * IF YOU ARE PAYING BY CHECK, PLEASE REMEMBER: You are not registered until we receive the check and confirm the registration. Also, the early registration discount is not determined by the date of online registration, it is determined by the date 24 Seven receives the check. 24 Seven does not accept checks within 30 days of an event.
    <br/><br/>
    * Changes to your registration cannot be made online.  Please email all changes to info@24sevendance.com.
    <br/><br/>
    * If you have any questions please feel free to contact us at any time. We will be in touch periodically, by email, to give you updates and scheduling information. Thanks so much for choosing to participate! I know you are going to have a great time. See you soon!
    {{/ifCond}}
  </div>

  <div style="border-top:1px solid #CCCCCC;margin-top:20px;">
    <table cellpadding="0" cellspacing="0" style="margin-top:5px;">
      {{#ifCond registration.tour_date.event.id '===' 7}}
      <tr>
        <td style="color:#FF0000;width:216px;border-right:1px solid #CCCCCC;">5446 Satsuma Ave<br/>North Hollywood, CA 91601</td>
        <td style="color:#FF0000;width:216px;text-align:center;border-right:1px solid #CCCCCC;">Tel: (818) 432-4395<!-- <br/>Fax: (212) 397-3636 --></td>
        <td style="color:#FF0000;width:216px;text-align:right;">info@jumptour.com<br/>www.jumptour.com</td>
      </tr>
      {{/ifCond}}
      {{#ifCond registration.tour_date.event.id '===' 8}}
      <tr>
        <td style="color:#FF0000;width:216px;border-right:1px solid #CCCCCC;">5446 Satsuma Ave<br/>North Hollywood, CA 91601</td>
        <td style="color:#FF0000;width:216px;text-align:center;border-right:1px solid #CCCCCC;">Tel: (818) 432-3894<br/>Fax: (888) 436-9971</td>
        <td style="color:#FF0000;width:216px;text-align:right;">go@gonuvo.com<br/>www.gonuvo.com</td>
      </tr>
      {{/ifCond}}
      {{#ifCond registration.tour_date.event.id '===' 18}}
      <tr>
        <td style="color:#FF0000;width:216px;border-right:1px solid #CCCCCC;">5446 Satsuma Ave<br/>North Hollywood, CA 91601</td>
        <td style="color:#FF0000;width:216px;text-align:center;border-right:1px solid #CCCCCC;">Tel: (818) 432-6085<br/>Fax: (888) 774-9502</td>
        <td style="color:#FF0000;width:216px;text-align:right;">info@24sevendance.com<br/>www.24sevendance.com</td>
      </tr>
      {{/ifCond}}
    </table>
  </div>

</div>
</body>
</html>