<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Confirmation</title>
    <style type="text/css">
        html { margin: 0; padding: 0;}

        body {
            text-align: left;
            margin: 0; padding: 0;
            color: #000000;
            font-size: 12px;
            font-family: Tahoma, Arial, sans-serif;
        }

        #sum_table tr td {
            font-size:11px;
        }
    </style>
    <script type="text/javascript">
//		window.print();
    </script>
</head>
<body>
    {{#each studios}}
        <div style="width:720px;page-break-after:always;">
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="vertical-align:top;">
                        <span style="font-family:Regal Box;font-size:52px;color:#FF0000;text-shadow:0 1px 1px rgba(0, 0, 0, 0);">JUMP</span><br/>
                        <div style="font-family:'festus!';font-size:23px;margin-bottom:2px;line-height:31px;">the alternative convention</div>
                    </td>
                    <td style="text-align:right;vertical-align:top;">
                        <div style="margin-top:5px;color:#0000FF;font-size:17px;">
                        {{#ifCond ../isind '==' 0}}
                            {{studio_name}}
                        {{else}}
                            {{contact_full}}
                        {{/ifCond}}
                        </div>
                        <div style="font-size:11px;text-align:right;">
                            {{address}}
                            <br>
                            {{city}}, {{abbreviation}} {{zip}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;padding-top:15px;">
                        <span style="font-size:10px;line-height:10px;">
                            5446 Satsuma Ave.<br/>
                            North Hollywood, CA 91601<br/>
                            Tel: 818.432.4395<br/>
                            Fax: 888.873.0795<br/>
                            info@jumptour.com<br/>
                            www.jumptour.com
                        </span>
                    </td>
                    <td style="text-align:right;vertical-align:bottom;padding-top:15px;font-size:16px;">
                        <span style="font-weight:bold;font-size:20px;">{{../city}}</span>
                        <br/>
                        {{../disp_date}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><div style="width:100%;height:1px;border-bottom: 1px solid #777777;margin-top:10px;margin-bottom:20px;"></div></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="vertical-align:top;width:460px;">
                        <div style="">
                            Dear {{contact}},
                            <br/><br/>
                            {{#ifCond ../isind '==' 0}}
                                Hey!  I am so glad you are joining us in {{../city}}, {{../state}} this year for JUMP!  I know you and your kids will have a great time!  Please review this attached statement and make sure it matches your records.
                                <br/><br/>
                                The workshop and competition schedules, as well as the downloadable personal PDFs for each dancer, will be posted on our website within one week of the event.  Each personal packet will include a workshop schedule, personalized competition schedule, as well as all other info for the event.
                                <br/><br/>
                                I really appreciate you supporting JUMP.  The faculty and I are determined to make this event a fantastic experience for you and your students!  If at any time you have questions regarding the event, please email us at info@jumptour.com or call us at (818) 432-4395; we are happy to help! I look forward to seeing you at JUMP!
                                <br/><br/>
                                Rock On,<br/>
                                <img src="https://stats.breakthefloor.com/reports/studios/jump_confirmation/gilsig.png" alt="" />
                            {{else}}
                                Hey!  I am so glad you are joining us in {{../city}}, {{../state}} this year for JUMP!  I know you will have a great time!  Please review this attached statement and make sure it matches your records.
                                <br/><br/>
                                The workshop and competition schedules, as well as the downloadable personal PDFs for each dancer, will be posted on our website within one week of the event.  Each personal packet will include a workshop schedule, personalized competition schedule, as well as all other info for the event.
                                <br/><br/>
                                I really appreciate you supporting JUMP.  The faculty and I are determined to make this event a fantastic experience for you!  If at any time you have questions regarding the event, please email us at info@jumptour.com or call us at (818) 432-4395; we are happy to help! I look forward to seeing you at JUMP!
                                <br/><br/>
                                Rock On,<br/>
                                <img src="gilsig.png" alt="" />
                            {{/ifCond}}
                        </div>
                    </td>
                    <td style="vertical-align:top;text-align:right;">
                        <div style="font-weight:bold;font-size:17px;margin-left:64px;text-align:left;margin-bottom:5px;">Registration Summary</div>
                        <div style="margin-left:55px;background-color:#CCCCCC;width:200px;padding: 15px 5px 0;min-height:375px;text-align:left;">
                            <table cellpadding="0" cellspacing="0" style="text-align:left;margin-left:10px;" id="sum_table">
                                <tr>
                                    <td style="color:#0000FF;text-align:right;width: 100px;">WORKSHOP<br/>FEES:</td>
                                    <td style="color:#0000FF;vertical-align:top;text-align:left;padding-left:10px;width:80px;">${{numberFormat workshop_fees 2}}</td>
                                </tr>
                                <tr>
                                    <td style="padding-top:5px;color:#0000FF;text-align:right;">COMPETITION<br/>FEES:</td>
                                    <td style="padding-top:5px;color:#0000FF;text-align:left;padding-left:10px;vertical-align:top;">${{numberFormat competition_fees 2}}</td>
                                </tr>
                                <tr>
                                    <td style="padding-top:5px;text-align:right;">TOTAL:</td>
                                    <td style="padding-top:5px;text-align:left;padding-left:10px;">${{numberFormat total_fees 2}}</td>
                                </tr>
                                <tr>
                                    <td style="padding-top:15px;text-align:right;">FEES PAID AS OF<br/>{{formatDate "" "MM/DD/Y"}}:</td>
                                    <td style="vertical-align:top;padding-top:15px;text-align:left;padding-left:10px;">${{numberFormat fees_paid 2}}</td>
                                </tr>
                                {{#ifCond credit '>' 0 }}
                                <tr>
                                    <td style="padding-top:15px;text-align:right;">CREDIT:<br/></td>
                                    <td style="vertical-align:top;padding-top:15px;text-align:left;padding-left:10px;">${{numberFormat credit 2}}</td>
                                </tr>
                                {{/ifCond}}

                                <tr>
                                    <td style="padding-top:15px;color:#FF0000;text-align:right;text-align:right;">BALANCE DUE:</td>
                                    <td style="padding-top:15px;color:#FF0000;text-align:left;padding-left:10px;">${{numberFormat balance_due 2}}</td>
                                </tr>
                            </table>

                            <div style="margin-top:15px;font-weight:bold;font-style:italic;">NOTES:</div>
                            <div style="">
                                {{invoice_note}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {{!-- END PAGE 1 --}}

        {{#ifCond workshop_registrants_count '>' 0 }}
        <div style="width:720px;page-break-after:always;">
            <div style="padding: 0 0 5px 20px;margin-bottom:10px;border-bottom:1px solid #CCCCCC;color:#0000FF;font-size:20px;">Workshop Registrants ({{workshop_registrants_count}})</div>
            <div style="font-style:italic;padding-left:20px;margin-bottom:20px;">Teachers ({{teacher_count}}), Seniors ({{senior_count}}), Teens ({{teen_count}}), Juniors ({{junior_count}}), Minis ({{mini_count}}), JUMPstarts ({{jumpstart_count}}), Observers ({{observer_count}}), JUMPstarts Observers({{observer2_count}})</div>
            <table cellpadding="0" cellspacing="0" style="margin-left:20px;">
                <tr>
                    <td style="width:190px;padding-bottom:10px;">Name</td><td style="width:120px;padding-bottom:10px;">Birthday</td><td style="width:140px;padding-bottom:10px;">Age as of 1/1/{{../age_as_of_year}}</td><td style="width:120px;padding-bottom:10px;">Workshop Level</td><td style="text-align:right;width:120px;padding-bottom:10px;">Fee</td>
                </tr>
            {{#each workshop_registrants}}
                {{#ifCond workshop_level_name '!=' 'Observer'}}
                <tr>
                    <td style="padding-bottom:6px;">{{fname}} {{lname}}</td>
                    <td style="padding-bottom:6px;">{{birth_date}}</td>
                    <td style="padding-bottom:6px;">{{age}}</td>
                    <td style="padding-bottom:6px;">{{strReplace 2 "" workshop_level_name}}</td>
                    <td style="padding-bottom:6px;text-align:right;">
                        {{#if has_scholarship}}
                        <span style='font-size:11px;font-style:italic;'>(Scholarship)&nbsp;&nbsp;&nbsp;</span>
                        {{/if}}
                        {{#if one_day}}
                        <span style='font-size:11px;font-style:italic;'>(One Day)&nbsp;&nbsp;&nbsp;</span>
                        {{/if}}
                        ${{numberFormat fee 2}}
                    </td>
                </tr>
                {{/ifCond}}
            {{/each}}
            {{#each obs}}
                <tr>
                    <td style="padding-bottom:6px;">{{fname}} {{lname}}</td>
                    <td style="padding-bottom:6px;">{{birth_date}}</td>
                    <td style="padding-bottom:6px;">{{age}}</td>
                    <td style="padding-bottom:6px;">{{workshop_level_name}}</td>
                    <td style="padding-bottom:6px;text-align:right;">{{numberFormat fee 2}}</td>
                </tr>
            {{/each}}
                <tr><td colspan="3">&nbsp;</td><td colspan="2" style="padding-top:10px;text-align:right;"><span style="font-weight:bold;">Workshop Fees</span><br/>${{numberFormat workshop_total_fees 2}}</td></tr>
            {{#ifCond free_teacher_count '>' 0}}
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2" style="padding-top:10px;text-align:right;">
                        <span style="font-weight:bold;">Free Teacher Discount</span><br/>
                        {{free_teacher_count}} Free (${{free_teacher_value}})
                    </td>
                </tr>
            {{/ifCond}}
            
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2" style="padding-top:10px;text-align:right;">
                        <span style="color:#FF0000;font-weight:bold;">Total Workshop Fees</span><br/>
                        ${{numberFormat workshop_fees 2}}
                    </td>
                </tr>
            </table>
        </div>
        {{/ifCond}}
        {{!-- END PAGE 2 --}}

        {{#ifCond competition_routines_count '>' 0 }}
        <div style="width:720px;page-break-after:always;">
            <div style="border-bottom:1px solid #CCCCCC;color:#358F39;font-size:20px;padding:0px 0 5px 20px;margin-bottom:10px;">
                Competition Routines ({{competition_routines_count}})</div>
            <table cellpadding="0" cellspacing="0" style="margin-left:20px;">
                <tr>
                    <td style="width:250px;padding-bottom:10px;">Routine Name</td>
                    <td style="width:130px;padding-bottom:10px;">Age Division</td>
                    <td style="width:110px;padding-bottom:10px;">Category</td>
                    <td style="width:100px;padding-bottom:10px;">Perf. Division</td>
                    <td style="text-align:right;width:90px;padding-bottom:10px;">Fee</td>
                </tr>
                {{#each competition_routines}}
                <tr>
                    <td style="vertical-align:top;"><span style="font-weight:bold;"> {{routine_name}}</span></td>
                    <td style="vertical-align:top;">
                        {{age_division_name}} ({{range}})
                    </td>
                    <td style="vertical-align:top;">
                        {{routine_category_name}} ({{routine_dancers_count}})
                    </td>
                    <td style="vertical-align:top;">
                        {{performance_division_name}}
                    </td>
                    <td style="vertical-align:top;text-align:right;">
                        ${{fee}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="padding-bottom:10px;font-size:11px;">
                        Performers: 
                        {{#each routine_dancers}}
                        {{fname}} {{lname}} {{#unless @last}}, {{/unless}}
                        {{/each}}
                        {{#ifCond extra_time '>' 0}}
                        <div style='font-weight:bold;font-style:italic;'>Extra time: {{extra_time}}minute(s)</div>
                        {{/ifCond}}
                    </td>
                </tr>
                {{/each}}

                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2" style="padding-top:10px;text-align:right;"><span style="color:#FF0000;font-weight:bold;">Total Competition Fees</span><br/>$
                        ${{competition_fees}}
                    </td>
                </tr>
            </table>
        </div>
        {{/ifCond}}
        {{!-- END PAGE 3 --}}

        {{#ifCond oitems_count '>' 0 }}
        <div style="width:720px;page-break-after:always;">
            <div style="padding:0px 0 5px 20px;border-bottom:1px solid #CCCCCC;color:#DFB953;font-size:20px;margin-bottom:10px;">
                Outstanding Items ({{oitems_count}})
            </div>
            <div style="padding-left:20px;">
                Please Note:<br/><br/>The following items are needed to complete your registration. Please get this information
                to the JUMP office ASAP.
                <br/><br/>
                {{#with oitems}}
                <ol style="padding-left: 0;margin-left: 20px;">
                    {{#ifCond balance '>' 0 }}
                        <li>
                            {{../studioname}} has a BALANCE DUE of ${{numberFormat balance 2}}
                        </li>
                    {{/ifCond}}
                    {{#each tbas}}
                        <li>{{age_division_name}} {{routine_category_name}} routine needs a Title</li>
                    {{/each}}
                    {{#each noperfcat}}
                        <li>{{routine_name}} has no assigned PERFORMANCE CATEGORY (e.g. Jazz, Lyrical, Tap)</li>
                    {{/each}}
                    {{#each nobirthday}}
                        <li>{{fname}} {{lname}} has no birth date set.</li>
                    {{/each}}
                    {{#each noagediv}}
                        <li>{{routine_name}} has no assigned AGE DIVISION.</li>
                    {{/each}}
                    {{#each waivers}}
                        <li>Missing participant waiver for {{fname}} {{lname}}</li>
                    {{/each}}

                </ol>
                {{/with}}
            </div>

        </div>
        {{/ifCond}}

    {{/each}}
</body>
</html>