<!DOCTYPE html>
<html>
<head>
    <title>Photo Browser</title>
</head>

<body>
{{#each photos as |people|}}
    {{#each people}}
        <a style="display:block;" target="_blank" href="{{url}}">{{fname}} {{lname}}</a>
    {{/each}}
{{/each}}
</body>

</html>